/*PAGE STRUCTURE FORMAT*/

html, body
{
	background:#ececec; 
}

@font-face 
{
	font-family: materialFont;
	src: url(../fonts/Roboto-Light.ttf);
}

[ng\:cloak], [ng-cloak], .ng-cloak
 {
  display: none !important;
}


.iconColor
{
	color:rgb(181,181,181) !important;
}

.md-menu
{
	padding: 0;
}

.md-button
{
	margin: 0px !important;
	min-width: 0 !important;
}

.md-select-label
{
	width: 100%;
}

md-select
{
	padding-bottom: 26px;
}

ul
{
    list-style:none;
}

md-input-container.md-default-theme label{
	color:rgba(0,0,0,0.64);
}
/*PAGE STRUCTURE FORMAT*/


/*Media Queries Start*/
@media screen and (max-width: 960px) 
{

    .md-whiteframe-z1
	{
    	width: 100%;
    }

}

@media screen and (max-width: 599px) 
{

	.blankspace
	{
          display: none;
    }
	
	.header_container_filter
	{
		margin-top: 7px !important;
		margin-bottom: 7px !important;
	}

}
/*Media Queries End*/

/*Chat Program css starting*/

.dialButtons
{
	height:45px;
	width:70px;
	margin: 0px !important;
	min-width: 0 !important;
}

.md-card-right 
{
   position: relative;
   margin-right:12px;
}

.md-card-right:before
 {
   content:"";
   position: absolute;
   right: 100%;
   top: 20px;
   border-top: 5px solid transparent;
   border-left: 10px solid white;
   border-bottom: 5px solid transparent;
   left: 100%;
}

.md-card-left 
{
   position: relative;
   margin-left:12px;
}
.md-card-left:before 
{
   content:"";
   position: absolute;
   right: 100%;
   top: 20px;
   border-top: 5px solid transparent;
   border-left: 10px solid white;
   border-bottom: 5px solid transparent;
   right: 100%;
   transform: rotate(180deg);
}

md-card md-card-content
{
	padding: 10px;
}
/*Chat Program css ending*/


/*Animation Definitions Start*/
@keyframes fromBottom {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fromTop {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes fromBottom {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes fromTop {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

 #inline > * 
 {
   display: inline-block;
}
   
.my-animation.ng-enter {
  /* standard transition code */
  transition: 1s linear all;
  -webkit-transform: scale(0);
}
.my-animation.ng-enter-stagger 
{
  /* this will have a 100ms delay between each successive leave animation */
  transition-delay: .3s;

  /* in case the stagger doesn't work then the duration value
   must be set to 0 to avoid an accidental CSS inheritance */
  transition-duration: 0s;
}
.my-animation.ng-enter.ng-enter-active 
{
  /* standard transition styles */
  -webkit-transform: scale(1);
	 -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}


.tint 
{
	position: relative;
	float: left;
	cursor: pointer;
}

.tint:before 
{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(114, 114, 114, 0);
	-moz-transition: background .3s linear;
	-webkit-transition: background .3s linear;
	-o-transition: background .3s linear;
	transition: background .3s linear;
}

.tint:hover:before 
{
	background: rgba(114, 114, 114, .1);
}

@-webkit-keyframes scaleAnimation 
{
	from { -webkit-transform:  scale(0.1) }
	to { -webkit-transform: scale(1)}
}
@-moz-keyframes scaleAnimation 
{
	from { -moz-transform: scale(0.1) }
	to { -moz-transform: scale(1) }
}
@-o-keyframes scaleAnimation 
{
	from { -o-transform:  scale(0.1) translate(0px); }
	to { -o-transform: scale(1)  }
}

/*Animation Definitions end*/


/*Animation for individual elements start*/
.card_container, .header_container
{
	animation: fromBottom 1.6s 1;
  -webkit-animation: fromBottom 1.6s 1;
}

.partial
{
	  -webkit-animation-duration: 1s;
	  animation-duration: 1s;
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
	  -webkit-animation-name: fadeIn;
	  animation-name: fadeIn;

}
#userProfilePic {
	-webkit-animation: scaleAnimation 1.5s 1 ease;
	-moz-animation: scaleAnimation 1.5s 1 ease;
	-o-animation: scaleAnimation 1.5s 1 ease;
}

#backBtn
{
		animation: fromTop .4s 1;
  -webkit-animation: fromTop .4s 1;
}

/*Animation for individual elements end*/



