<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<style type="text/css">
   .card_container {
   max-width: 928px;
   margin-right: auto;
   margin-left: auto;
   }
   .mt1 {
   margin-top: 10px;
   }
   .align-right {
   text-align: right;
   }
   .mouse-pointer {
   cursor: pointer;
   }
</style>
<div ng-init="DemoCtrl1()" >
</div>
<div ng-init="btntype = 'cards'">
</div>
<div class="md-childApp-containerSection" ng-init="loadAllOrders()">
   <!--HEADER START-->
   <div class="md-childApp-headerSection"  >
      <!--    <md-header src="img/chat.png" name="Invoice" ></md-header> -->
      <!--START OF ANIMATED FLOATING BUTTON-->
      <div ng-controller="AppCtrl as ctrl" ng-init="demoPage = 'core'">
         <nav mfb-menu position="{{ctrl.chosen.position}}" effect="{{ctrl.chosen.effect}}"
            active-icon="ion-close-round" resting-icon="ion-plus-round"
            ng-mouseenter="hovered()" ng-mouseleave="hovered()"
            toggling-method="{{ctrl.chosen.method}}" menu-state="ctrl.menuState" main-action="ctrl.mainAction()">
            <button mfb-button icon="{{button.icon}}" ng-click="ctrl.loc(button.href)"
               label="{{button.label}}" ng-repeat="button in ctrl.buttons"></button>
         </nav>
      </div>
      <!--END OF ANIMATED FLOATING BUTTON-->
   </div>
   <!--div ui-view></div-->
   <!---MAIN CONTENT START-->
   <div class="md-childApp-contentContainerSection" ng-scrollbars ng-scrollbars-config="scrollbarConfig">
      <!--START OF 960px FRAME LIMIT-->
      <div class="card_container" style="margin-top:10px;">
         <div class="collapse-card">
            <div class="collapse-card__heading">
               <h4 class="collapse-card__title">
                  <div>Invoice Numbers </div>
               </h4>
            </div>
         </div>
         <div class="collapse-card" ng-repeat="invoice in invoices">
            <div class="collapse-card__heading">
               <h4 class="collapse-card__title"  >
                  <div>{{invoice.invoicenumber}}</div>
               </h4>
            </div>
            <div class="collapse-card__body">
               <!--WHITEFRAME START-->
               <!--ALL TABS START-->
               <md-tabs md-dynamic-height md-border-bottom>
                  <!--FIRST TAB START-->
                  <md-tab label="Invoice">
                     <!--FORM START-->
                     <form name="editForm">
                        <md-content flex>
                           <div layout layout-sm="column" layout-margin>
                              <div flex="5">
                                 <img src="img/material alperbert/avatar_tile_i_28.png" style="margin-top:22px;border-radius:20px"/>
                              </div>
                              <div flex="20" style="margin-top:35px;">
                                 <label style="font-weight:700">New Invoice</label>
                              </div>
                              <md-select placeholder="Assign to Customer" ng-model="invoice.paymenttype" flex>
                                 <md-optgroup label="Payment type">
                                 <md-option value="1">Customer 1</md-option>
                                 <md-option value="2">Customer 2</md-option>
                              </md-select>
                              <md-input-container flex>
                                 <label>Invoice Number</label>
                                 <input type="text" ng-model="invoice.invoicenumber" /> 
                              </md-input-container>
                              <!--md-select placeholder="Product Type" ng-model="someModel" flex>
                                 <md-optgroup label="Product Type">
                                 <md-option value="1">One</md-option>
                                 <md-option value="2">Two</md-option>
                                 </md-select-->
                           </div>
                           <div layout layout-sm="column" layout-margin >
                              <!--KEEP BLANK SPACE - ask why-->
                              <div flex="5" class="blankspace"> 
                              </div>
                              <div flex="20" class="blankspace">
                              </div>
                              <!--KEEP BLANK SPACE - ask why-->
                              <md-input-container flex>
                                 <label>Billing Address</label>
                                 <textarea maxlength="200" type="text" ng-model="invoice.billaddress" >
                                 </textarea>
                              </md-input-container>
                              <!--md-chips ng-model="ctrl.roFruitNames" readonly="ctrl.readonly" flex>
                                 <md-chip-template>
                                 <strong>{{$chip}}</strong>
                                 <em>(fruit)</em>
                                 </md-chip-template>
                                 </md-chips-->
                           </div>
                           <div layout layout-sm="column" layout-margin >
                              <div flex="5" class="blankspace"> 
                              </div>
                              <div flex="20" class="blankspace">
                              </div>
                              <md-select placeholder="Select a terms" ng-model="invoice.termtype" flex>
                                 <md-optgroup label="Terms type">
                                 <md-option value="1">terms 1</md-option>
                                 <md-option value="2">terms 2</md-option>
                              </md-select>
                              <md-date-picker model="invoice.date" label="Date" dialog-md-theme="datePickerTheme" flex/>
                              <!--md-chips ng-model="ctrl.roFruitNames" readonly="ctrl.readonly" flex>
                                 <md-chip-template>
                                 <strong>{{$chip}}</strong>
                                 <em>(fruit)</em>
                                 </md-chip-template>
                                 </md-chips-->
                           </div>
                           <div layout layout-sm="column" layout-margin >
                              <div flex="5" class="blankspace"> 
                              </div>
                              <div flex="20" class="blankspace">
                              </div>
                              <md-input-container flex>
                                 <label>PO Number</label>
                                 <input type="text" ng-model="invoice.ponumber" /> 
                              </md-input-container>
                              <md-date-picker model="invoice.duedate" label="Due Date" dialog-md-theme="datePickerTheme" flex/>
                           </div>
                           <div layout layout-sm="column" layout-margin >
                              <div flex="5" class="blankspace"> 
                              </div>
                              <div flex="20" class="blankspace">
                              </div>
                              <md-input-container flex>
                                 <label>Comment</label>
                                 <textarea maxlength="200" type="text" ng-model="invoice.comment"></textarea>  
                              </md-input-container>
                           </div>
                           <md-divider></md-divider>
                           <div layout layout-sm="column" layout-margin>
                              <div flex="5">
                                 <img src="img/material alperbert/avatar_tile_i_28.png" style="margin-top:22px;border-radius:20px"/>
                              </div>
                              <div flex="20" style="margin-top:35px;">
                                 <label style="font-weight:700">Items</label>
                              </div>
                           </div>
                           <div layout layout-sm="column" layout-margin >
                              <div class="table-responsive-vertical"  style="font-size:0.9em;overflow:auto;" >
                                 <!-- Table starts here -->
                                 <table id="table" class="table table-hover table-mc-light-blue" >
                                    <!--thead>
                                       <tr>
                                         <th style="font-weight: 100;">Product Code</th>
                                         <th style="font-weight: 100;">Product Description</th>
                                         <th style="font-weight: 100;">Product Category</th>
                                         <th style="font-weight: 100;">Rate</th>
                                         <th style="font-weight: 100;">Currency</th>
                                         <th style="font-weight: 100;">Qty for Rate</th>
                                         <th style="font-weight: 100;">UOM</th>
                                         <th style="font-weight: 100;">FUP</th>
                                         <th style="font-weight: 100;">Rate Plan</th>
                                         <th style="font-weight: 100;">Default</th>
                                         <th style="font-weight: 100;">Allow Group Price</th>
                                         <th style="font-weight: 100;">Items</th>
                                         <th style="font-weight: 100;">Advanced</th>
                                         <th style="font-weight: 100;">Add On</th>
                                       </tr>
                                       </thead-->
                                    <tbody>
                                       <tr animate ng:repeat="invoice in invoice.table">
                                          <td data-title="Product Code">
                                             <md-select placeholder="Service" ng-model="invoice.servicetype">
                                                <md-optgroup label="Service" >
                                                <md-option value="1">Service 1</md-option>
                                                <md-option value="2">Service 2</md-option>
                                             </md-select>
                                          </td>
                                          <td data-title="Product Category">
                                             <md-select placeholder="Unit" ng-model="invoice.unittype" flex>
                                                <md-optgroup label="Unit" >
                                                <md-option value="1">Unit 1</md-option>
                                                <md-option value="2">Unit 2</md-option>
                                             </md-select>
                                          </td>
                                          <td data-title="Currency">
                                             <md-select placeholder="Tax" ng-model="invoice.taxttype" flex>
                                                <md-optgroup label="Tax" >
                                                <md-option value="1">Tax 1</md-option>
                                                <md-option value="2">Tax 2</md-option>
                                             </md-select>
                                          </td>
                                          <td data-title="Product Description">
                                             <md-input-container  flex>                   
                                                <input ng-model="invoice.quantity" placeholder="Quantity">
                                             </md-input-container>
                                          </td>
                                          </td>
                                          <td data-title="Product Description">
                                             <md-input-container  flex>                   
                                                <input ng-model="invoice.pdescription" placeholder="Price">
                                             </md-input-container>
                                          </td>
                                          <td data-title="Rate">
                                             <md-input-container placeholder="Discount(%)" flex>                   
                                                <input ng-model="invoice.Discount" placeholder="Discount(%)">
                                             </md-input-container>
                                          </td>
                                          <td data-title="Amount">
                                             <span>Amount</span>
                                             <md-input-container flex>                   
                                                <input ng-value="((invoice.quantity * 1 ) * (invoice.pdescription * 1))" disabled="disabled" >
                                                <span ng-model="invoice.amount" ng-hide="true">{{((invoice.quantity * 1 ) * (invoice.pdescription * 1))}}</span>
                                             </md-input-container>
                                          </td>
                                          <td data-title=" Invoice Type">
                                             <md-input-container flex>                   
                                                <a href ng:click="removeItem()" class="btn btn-small">Remove</a>
                                             </md-input-container>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                                 <div layout layout-sm="column" layout-margin>
                                    <div flex="5">
                                       <md-input-container flex>                   
                                          <a href ng:click="addItem1()" class="btn btn-small">Add</a>
                                       </md-input-container>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div layout layout-sm="column" layout-margin>
                              <md-input-container flex>
                                 <label>Comment (Optional)</label>
                                 <textarea maxlength="200" type="text" ng-model="invoice.comment2"></textarea>  
                              </md-input-container>
                           </div>
                           <md-divider></md-divider>
                           <div layout layout-sm="column" layout-margin>
                              <div flex="5">
                                 <img src="img/material alperbert/avatar_tile_u_28.png" style="margin-top:22px;border-radius:20px"/>
                              </div>
                              <div flex="20" style="margin-top:35px;">
                                 <label style="font-weight:700">Upload file</label>
                              </div>
                           </div>
                           <div layout layout-sm="column" layout-margin>
                              <div flex="5" class="blankspace">
                              </div>
                              <div flex="20" class="blankspace">
                              </div>
                              <file-up-loader os-namespace="duoworld.sossgrid.com" os-class="invoice" label="Upload files" flex ></file-up-loader>
                           </div>
                           <md-divider></md-divider>
                           <div layout layout-sm="column" layout-margin>
                              <div flex="5">
                                 <img src="img/material alperbert/avatar_tile_t_28.png" style="margin-top:22px;border-radius:20px"/>
                              </div>
                              <div flex="20" style="margin-top:35px;">
                                 <label style="font-weight:700">Total Price</label>
                              </div>
                              <md-input-container flex>
                                 <label> Sub Total</label>
                                 <input type="text" ng-model="invoice.subtotal" value="0" /> 
                              </md-input-container>
                           </div>
                           <div layout layout-sm="column" layout-margin>
                              <div flex="5" class="blankspace">
                              </div>
                              <div flex="20" class="blankspace">
                              </div>
                              <md-input-container flex>
                                 <label> Discount %</label>
                                 <input type="text" ng-model="invoice.discount1" /> 
                              </md-input-container>
                           </div>
                           <div layout layout-sm="column" layout-margin>
                              <div flex="5" class="blankspace">
                              </div>
                              <div flex="20" class="blankspace">
                              </div>
                              <md-input-container flex>
                                 <label>Sales Tax</label>
                                 <input type="text" ng-model="invoice.salestax" /> 
                              </md-input-container>
                           </div>
                           <div layout layout-sm="column" layout-margin>
                              <div flex="5" class="blankspace">
                              </div>
                              <div flex="20" class="blankspace">
                              </div>
                              <md-input-container flex>
                                 <label>Another Tax</label>
                                 <input type="text" ng-model="invoice.anothertax" /> 
                              </md-input-container>
                           </div>
                           <div layout layout-sm="column" layout-margin>
                              <div flex="5" class="blankspace">                 
                              </div>
                              <div flex="20" class="blankspace">
                              </div>
                              <md-input-container flex>
                                 <label> Shipping</label>
                                 <input type="text" ng-model="invoice.shipping" /> 
                              </md-input-container>
                           </div>
                           <div layout layout-sm="column" layout-margin>
                              <div flex="5" class="blankspace">
                              </div>
                              <div flex="20" class="blankspace">
                              </div>
                              <md-input-container flex>
                                 <label> Total USD</label>
                                 <input type="text" ng-model="invoice.total" /> 
                              </md-input-container>
                           </div>
                           <md-divider></md-divider>
                           <div layout layout-sm="column" layout-margin>
                              <div flex="5">
                                 <img src="img/material alperbert/avatar_tile_o_28.png" style="margin-top:22px;border-radius:20px"/>
                              </div>
                              <div flex="20" style="margin-top:35px;">
                                 <label style="font-weight:700">Optional</label>
                              </div>
                              <md-select placeholder="Payment Type" ng-model="invoice.paymenttypes" flex>
                                 <md-optgroup label="Payment type">
                                 <md-option value="1">Credit</md-option>
                                 <md-option value="2">Debit</md-option>
                              </md-select>
                              <!--
                                 -->
                           </div>
                           <div layout layout-sm="column" layout-margin>
                              <div flex="5" class="blankspace">
                              </div>
                              <div flex="20" class="blankspace">
                              </div>
                              <div layout="column" class="chipsdemoBasicUsage" flex>
                                 <md-content class="md-padding" layout="column">
                                    <label>Tags (Optional)</label>
                                    <md-chips ng-model="invoice.roFruitNames" readonly="readonly">
                                       <label>Tags (Optional)</label>
                                       <md-chip-template>
                                          <strong>{{$chip}}</strong>
                                       </md-chip-template>
                                    </md-chips>
                                 </md-content>
                              </div>
                           </div>
                           <div layout layout-sm="column" layout-margin>
                              <div flex="5" class="blankspace">
                              </div>
                              <div flex="20" class="blankspace">
                              </div>
                              <md-input-container flex>
                                 <label>Notes</label>
                                 <textarea maxlength="200" type="text" ng-model="invoice.note"></textarea>  
                              </md-input-container>
                           </div>
                           <md-divider></md-divider>
                        </md-content>
                     </form>
                     <!--FORM END-->
                  </md-tab>
                  <!--FIRST TAB END-->
                  <!--SECOND TAB START-->
                  <md-tab label="Additional Information">
                     <md-content class="md-padding">
                        <h1 class="md-display-2">Additional Information</h1>
                     </md-content>
                  </md-tab>
                  <!--SECOND TAB END-->
               </md-tabs>
               <!--ALL TABS END-->
            </div>
         </div>
         <!--   <div class="collapse-card">
            <div class="collapse-card__heading">
                <h4 class="collapse-card__title">
                    
                    <div>Macbook </div>
                </h4>
            <div>$2,499.00 </div>
            </div>
            <div class="collapse-card__body">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                <div class="collapse-card__close_handler mt1 align-right mouse-pointer">
                    Show less
                </div>
            </div>
            </div>
            <div class="collapse-card">
            <div class="collapse-card__heading">
                <h4 class="collapse-card__title">
                    
                    <div>Alienware 14</div>
                </h4>
            <div>$1689.99 </div>
            </div>
            <div class="collapse-card__body">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>
            </div> -->
      </div>
      <!--END OF 960px FRAME LIMIT-->
   </div>
   <!---MAIN CONTENT END-->
</div>
