        
                <style>
              @font-face {
              font-family: materialFont;
              src: url(fonts/Roboto-Light.ttf);
              }
               </style>

               <style type="text/css">
              @-moz-document url-prefix() {
              md-select{
              margin-top: 14px !important;
              }
              }
              .md-childApp-containerSection{
              position:relative;
              top:0;
              left:0;
              height:100%;
              width:100%;
              overflow:hidden;
              background:#ececec;
              }
              .md-childApp-headerSection{
              position:relative;
              top:0;
              left:0;
              width:100%;
              height:54px;
              padding:0px 8px 0px 8px;
              margin:0;
              }
              .md-childApp-contentContainerSection{
              position:relative;
              top:0px;
              left:0;
              width:100%;
              height:calc(100% - 54px);
              margin:0;
              box-sizing:border-box;
              overflow:auto;
              }

              .action {
              background: #fff url(img/search.png) no-repeat;
              text-indent:50px;
              margin-top:0px;
              margin-bottom:10px;
              border-radius:6px;
              border: 1px solid #ccc;
              height:34px;
              }
           </style>

  <div ng-init="btntype = 'invoice'">
    

  </div>
      



           <!--ALL CONTENT START-->
           <div class="md-childApp-containerSection">
              <!--HEADER START-->
              <div class="md-childApp-headerSection">
               <!--   <md-header src="img/chat.png" name="Invoice"></md-header> -->
                 <!--START OF ANIMATED FLOATING BUTTON-->
                 <div ng-controller="AppCtrl as ctrl" ng-init="cardtype()">
                    <nav mfb-menu position="{{ctrl.chosen.position}}" effect="{{ctrl.chosen.effect}}"
                       active-icon="ion-close-round" resting-icon="ion-plus-round"
                       ng-mouseenter="hovered()" ng-mouseleave="hovered()"
                       toggling-method="{{ctrl.chosen.method}}" menu-state="ctrl.menuState" main-action="ctrl.mainAction()">
                       <button mfb-button icon="{{button.icon}}" ng-click="ctrl.loc(button.href)"
                          label="{{button.label}}" ng-repeat="button in ctrl.buttons"></button>
                    </nav>
                 </div>
                 <!--END OF ANIMATED FLOATING BUTTON-->
              </div>
              <!--div ui-view></div-->
              <!---MAIN CONTENT START-->
              <div class="md-childApp-contentContainerSection" layout="column" layout-align="center center" ng-scrollbars ng-scrollbars-config="scrollbarConfig">
                 <!--START OF 960px FRAME LIMIT-->
                 <div layout="column" layout-fill style="margin:0 auto; max-width:960px;">
                    <!--input class="action" type="text" placeholder="Action" ng-model="what"/--> 
                    <div ng-controller="ActionCtrl as ctrl" style="margin-bottom:8px;">
                       <md-autocomplete
                          ng-keypress="enter($event)"
                          ng-disabled="ctrl.isDisabled"
                          md-no-cache="ctrl.noCache"
                          md-selected-item="ctrl.selectedItem"
                          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                          md-search-text="ctrl.searchText"
                          md-selected-item-change="ctrl.selectedItemChange(item)"
                          md-items="item in ctrl.querySearch(ctrl.searchText)"
                          md-item-text="item.display"
                          md-min-length="0"
                          placeholder="Action Search">
                          <md-item-template>
                             <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                          </md-item-template>
                          <md-not-found>
                             No matches found for "{{ctrl.searchText}}".
                          </md-not-found>
                       </md-autocomplete>
                    </div>
                    <!--WHITEFRAME START-->
                    <md-whiteframe class="md-whiteframe-z1" layout layout-align="start center" style="border:1px solid #ccc;">
                       <!--ALL TABS START-->
                       <md-tabs md-dynamic-height md-border-bottom style="width:960px;">
                          <!--FIRST TAB START-->
                          <md-tab label="Invoice">
                             <!--FORM START-->
                             <form name="editForm" ng-submit="validate()">
                                <md-content flex>
                                   <div layout layout-sm="column" layout-margin ng-form="inumber">
                                      <div flex="5">
                                         <img src="img/material alperbert/avatar_tile_i_28.png" style="margin-top:22px;border-radius:20px"/>
                                      </div>
                                      <div flex="20" style="margin-top:35px;">
                                         <label style="font-weight:700">New Invoice</label>
                                      </div>
                                      
                                        <md-select name="customertype" placeholder="Assign to Customer" ng-model="invoice.paymenttype" flex >
                             <md-optgroup label="Payment type">
                             <md-option value="1">Customer 1</md-option>
                             <md-option value="2">Customer 2</md-option>
                             
                          </md-select>

                         
                                      <md-input-container flex>
                                         <label>Invoice Number  N/A</label>
                                         <input type="text" ng-model="invoice.invoicenumber" name="invoicenumbers" class="required" ng-disabled="true"/> 
                                      <!--   <span class="error" ng-show="inumber.invoicenumbers.$error.required">Required</span>

     -->
                                      </md-input-container>
                                      <!--md-select placeholder="Product Type" ng-model="someModel" flex>
                                         <md-optgroup label="Product Type">
                                         <md-option value="1">One</md-option>
                                         <md-option value="2">Two</md-option>
                                         </md-select-->
                                   </div>
                                   <div layout layout-sm="column" layout-margin>
                                      <!--KEEP BLANK SPACE - ask why-->
                                      <div flex="5" class="blankspace">	
                                      </div>
                                      <div flex="20" class="blankspace">
                                      </div>
                                      <!--KEEP BLANK SPACE - ask why-->
                                      <md-input-container flex>
                                         <label>Billing Address</label>
                                         <textarea maxlength="200" type="text" ng-model="invoice.billaddress" required>
                                         </textarea>
                                      </md-input-container>
                                      <!--md-chips ng-model="ctrl.roFruitNames" readonly="ctrl.readonly" flex>
                                         <md-chip-template>
                                         <strong>{{$chip}}</strong>
                                         <em>(fruit)</em>
                                         </md-chip-template>
                                         </md-chips-->
                                   </div>
                                   <div layout layout-sm="column" layout-margin>
                                      <div flex="5" class="blankspace">	
                                      </div>
                                      <div flex="20" class="blankspace">
                                      </div>
                                         <md-select placeholder="Select a terms" ng-model="invoice.termtype" flex required>
                             <md-optgroup label="Terms type">
                             <md-option value="1">terms 1</md-option>
                             <md-option value="2">terms 2</md-option>
                          </md-select>
                                      <md-date-picker model="invoice.date" label="Date" dialog-md-theme="datePickerTheme" flex required />
                                      <!--md-chips ng-model="ctrl.roFruitNames" readonly="ctrl.readonly" flex>
                                         <md-chip-template>
                                         <strong>{{$chip}}</strong>
                                         <em>(fruit)</em>
                                         </md-chip-template>
                                         </md-chips-->
                                   </div>
                                   <div layout layout-sm="column" layout-margin>
                                      <div flex="5" class="blankspace">	
                                      </div>
                                      <div flex="20" class="blankspace">
                                      </div>
                                      <md-input-container flex>
                                         <label>PO Number</label>
                                         <input type="text" ng-model="invoice.ponumber" required /> 
                                      </md-input-container>
                                      <md-date-picker model="invoice.duedate" label="Due Date" dialog-md-theme="datePickerTheme" flex />
                                   </div>
                                   <div layout layout-sm="column" layout-margin>
                                      <div flex="5" class="blankspace">	
                                      </div>
                                      <div flex="20" class="blankspace">
                                      </div>
                                      <md-input-container flex>
                                         <label>Comment</label>
                                         <textarea maxlength="200" type="text" ng-model="invoice.comment" ></textarea>  
                                      </md-input-container>
                                   </div>
                                   <md-divider></md-divider>



                                   

                                   <div layout layout-sm="column" layout-margin>
                                      <div flex="5">
                                      <img src="img/material alperbert/avatar_tile_i_28.png" style="margin-top:22px;border-radius:20px"/>
                                      </div>
                                      <div flex="20" style="margin-top:35px;">
                                         <label style="font-weight:700">Items</label>
                                      </div>
                                    
                                   </div>
                                               <div layout layout-sm="row" layout-margin >
                             <div class="table-responsive-vertical"  style="font-size:0.9em;overflow:auto;" >
                             <!-- Table starts here -->
                             <table id="table" class="table table-hover table-mc-light-blue" >
                                 <!--thead>
                                   <tr>
                                     <th style="font-weight: 100;">Product Code</th>
                                     <th style="font-weight: 100;">Product Description</th>
                                     <th style="font-weight: 100;">Product Category</th>
                                     <th style="font-weight: 100;">Rate</th>
                                     <th style="font-weight: 100;">Currency</th>
                                     <th style="font-weight: 100;">Qty for Rate</th>
                                     <th style="font-weight: 100;">UOM</th>
                                     <th style="font-weight: 100;">FUP</th>
                                     <th style="font-weight: 100;">Rate Plan</th>
                                     <th style="font-weight: 100;">Default</th>
                                     <th style="font-weight: 100;">Allow Group Price</th>
                                     <th style="font-weight: 100;">Items</th>
                                     <th style="font-weight: 100;">Advanced</th>
                                     <th style="font-weight: 100;">Add On</th>
                                   </tr>
                                 </thead-->
                                 <tbody>
                                   <tr animate ng:repeat="invoice in table.columns">
                                     <td data-title="Service">
                                      <md-select placeholder="Service" ng-model="invoice.servicetype" flex required>
                                  <md-optgroup label="Service" >
                                <md-option value="1">Service 1</md-option>
                                <md-option value="2">Service 2</md-option>
                                
                              
                          </md-select>
                                       
                                     </td>


                                          <td data-title="Unit">
                                         <md-select placeholder="Unit" ng-model="invoice.unittype" flex required>
                                   <md-optgroup label="Unit" >
                                   <md-option value="1">Unit 1</md-option>
                                <md-option value="2">Unit 2</md-option>
                                    </md-select>
                                     </td>

                                  <td data-title="Tax">
                                         <md-select placeholder="Tax" ng-model="invoice.taxttype" flex required>
                                   <md-optgroup label="Tax" >
                                   <md-option value="1">Tax 1</md-option>
                                <md-option value="2">Tax 2</md-option>
                                </md-select>
                                     </td>

                                     <td data-title="Quantity">
                                       <md-input-container  flex>                   
                                           <input ng-model="invoice.quantity" placeholder="Quantity" required>
                                       </md-input-container>
                                     </td>
                                     </td>
                                
                                     <td data-title="Price">
                                       <md-input-container  flex>                   
                                           <input ng-model="invoice.pdescription" placeholder="Price" required>
                                       </md-input-container>
                                     </td>
                                     <td data-title="Discount">
                                      <md-input-container placeholder="Discount(%)" style="margin-right: 22px;" flex required>                   
                                           <input ng-model="invoice.Discount" placeholder="Discount(%)">
                                       </md-input-container>
                                     </td>
                                
                                     
                                     
                                     <td data-title="Amount">


                                     <span>Amount</span>
                                       <md-input-container flex>                   
                                           
                                          
                                           <input ng-value="invoice.quantity * invoice.pdescription" disabled="disabled" >

                                           <span ng-model="invoice.amount" ng-hide="true">{{invoice.quantity * invoice.pdescription}}</span>

                                       </md-input-container>
                                         
                                     </td>
                                    
                                    
                     <td data-title=" Invoice Type">
                              <md-input-container flex>                   
                                <a href ng:click="removeItem()" class="btn btn-small">Remove</a>
                              </md-input-container>
                              </td>
                                     
                                    
                                     
                                   </tr>
                                 </tbody>
                               </table>
                          <div layout layout-sm="column" layout-margin>
                          <div flex="5">
                         <md-input-container flex>                   
                                <a href ng:click="addItem()" class="btn btn-small">Add</a>
                              </md-input-container>
                              
                             </div>
                       </div>
                             </div>
                           </div> 


                                   <div layout layout-sm="column" layout-margin>
                                     
                                      <md-input-container flex>
                                         <label>Comment (Optional)</label>
                                         <textarea maxlength="200" type="text" ng-model="invoice.comment2"></textarea>  
                                      </md-input-container>
                                   </div>
                                   <md-divider></md-divider>



                                


                                   <div layout layout-sm="column" layout-margin>
                                      <div flex="5">
                                         <img src="img/material alperbert/avatar_tile_u_28.png" style="margin-top:22px;border-radius:20px"/>
                                      </div>
                                      <div flex="20" style="margin-top:35px;">
                                         <label style="font-weight:700">Upload file</label>
                                      </div>
                                     
                                   </div>
                                   <div layout layout-sm="column" layout-margin>
                                      <div flex="5" class="blankspace">
                                      </div>
                                      <div flex="20" class="blankspace">
                                      </div>




                                      <file-up-loader os-namespace="duoworld.sossgrid.com" os-class="invoice" label="Upload files" flex ></file-up-loader>


                                 
                                   </div>

                                

                                   <md-divider></md-divider>
                                   <div layout layout-sm="column" layout-margin>
                                      <div flex="5">
                                         <img src="img/material alperbert/avatar_tile_t_28.png" style="margin-top:22px;border-radius:20px"/>
                                      </div>
                                      <div flex="20" style="margin-top:35px;">
                                         <label style="font-weight:700">Total Price</label>
                                      </div>
                                      <md-input-container flex>
                                         <label> Sub Total</label>
                                         <input type="text" ng-model="invoice.subtotal" value="0" /> 
                                       
                                      </md-input-container>
                                   </div>
                                   <div layout layout-sm="column" layout-margin>
                                      <div flex="5" class="blankspace">
                                      </div>
                                      <div flex="20" class="blankspace">
                                      </div>
                                      <md-input-container flex>
                                         <label> Discount %</label>
                                         <input type="text" ng-model="invoice.discount1" /> 
                                         
                                      </md-input-container>
                                   </div>
                                   <div layout layout-sm="column" layout-margin>
                                      <div flex="5" class="blankspace">
                                      </div>
                                      <div flex="20" class="blankspace">
                                      </div>
                                      <md-input-container flex>
                                         <label>Sales Tax</label>
                                         <input type="text" ng-model="invoice.salestax" /> 
                                        
                                      </md-input-container>
                                   </div>
                                   <div layout layout-sm="column" layout-margin>
                                      <div flex="5" class="blankspace">
                                      </div>
                                      <div flex="20" class="blankspace">
                                      </div>
                                      <md-input-container flex>
                                         <label>Another Tax</label>
                                         <input type="text" ng-model="invoice.anothertax" /> 
                                        
                                      </md-input-container>
                                   </div>
                                   <div layout layout-sm="column" layout-margin>
                                      <div flex="5" class="blankspace">		 							
                                      </div>
                                      <div flex="20" class="blankspace">
                                      </div>
                                      <md-input-container flex>
                                         <label> Shipping</label>
                                         <input type="text" ng-model="invoice.shipping" /> 
                                        
                                      </md-input-container>
                                   </div>
                                   <div layout layout-sm="column" layout-margin>
                                      <div flex="5" class="blankspace">
                                      </div>
                                      <div flex="20" class="blankspace">
                                      </div>
                                      <md-input-container flex>
                                         <label> Total USD</label>
                                         <input type="text" ng-model="invoice.total" /> 






                                         
                                      </md-input-container>
                                   </div>
                                   <md-divider></md-divider>
                                   <div layout layout-sm="column" layout-margin>
                                      <div flex="5">
                                         <img src="img/material alperbert/avatar_tile_o_28.png" style="margin-top:22px;border-radius:20px"/>
                                      </div>
                                      <div flex="20" style="margin-top:35px;">
                                         <label style="font-weight:700">Optional</label>
                                      </div>
                                         <md-select placeholder="Payment Type" ng-model="invoice.paymenttypes" flex>
                                  <md-optgroup label="Payment type">
                                <md-option value="1">Credit</md-option>
                                <md-option value="2">Debit</md-option>
                                
                              
                          </md-select>
                                      <!--
                                         -->
                                   </div>
                                   <div layout layout-sm="column" layout-margin>
                                      <div flex="5" class="blankspace">
                                      </div>
                                      <div flex="20" class="blankspace">
                                      </div>
                                      <div ng-init="DemoCtrl()" layout="column" class="chipsdemoBasicUsage" flex>
                                         <md-content class="md-padding" layout="column">
                                            <label>Tags (Optional)</label>
                                            <md-chips ng-model="invoice.roFruitNames" readonly="readonly">
                                               <label>Tags (Optional)</label>
                                               <md-chip-template>
                                                  <strong>{{$chip}}</strong>
                                               </md-chip-template>
                                            </md-chips>
                                         </md-content>
                                      </div>
                                   </div>
                                   <div layout layout-sm="column" layout-margin>
                                      <div flex="5" class="blankspace">
                                      </div>
                                      <div flex="20" class="blankspace">
                                      </div>
                                      <md-input-container flex>
                                         <label>Notes</label>
                                         <textarea maxlength="200" type="text" ng-model="invoice.note"></textarea>  
                                      </md-input-container>
                                   </div>


                                    <md-divider></md-divider>


  <div class="md-actions" layout="row" layout-align="center center" style="display:none">
                 <md-button id="mySignup" class="md-raised md-primary" style="width:93%" type="submit"><span class="loginBtnLabel">SAVE</span>
                 </md-button>
              </div>
      


                                </md-content>
                             </form>
                             <!--FORM END-->
                          </md-tab>
                          <!--FIRST TAB END-->
                          <!--SECOND TAB START-->
                          <!--	<md-tab label="Additional Information">
                             Another tab
                             
                             	<md-content class="md-padding">
                             		<h1 class="md-display-2">Additional Information</h1>
                             	</md-content>
                             </md-tab>
                             
                             -->
                          <!--SECOND TAB END-->
                       </md-tabs>
                       <!--ALL TABS END-->
                    </md-whiteframe>
                    <br><br>
                    <!--WHITEFRAME END-->
                 </div>
                 <!--END OF 960px FRAME LIMIT-->
              </div>
              <!---MAIN CONTENT END-->
         