<md-dialog aria-label="Product Category" style="width: 700px;" > 

 
         <!--START OF 960px FRAME LIMIT-->
         <div layout="column" layout-fill style="margin:0 auto;">
            <!--input class="action" type="text" placeholder="Action" ng-model="what"/--> 
            <!--WHITEFRAME START-->
            <md-whiteframe class="md-whiteframe-z1" style="border:1px solid #ccc;" >
               <!--ALL TABS START-->
          <form name="editForm" ng-submit="submit()" style="width:100%">
     


        <md-content flex>
          <div layout layout-sm="column" layout-margin>
            <div flex="5">
              <img src="img/material alperbert/avatar_tile_u_28.png" style="margin-top:22px;border-radius:20px"/>
            </div>
            <div flex="20" style="margin-top:35px;">
              <label style="font-weight:700">Update Product</label>
            </div>
 
                   <md-input-container  flex  > 
                    <label>Product Code</label>                  
                     <input ng-model="promotion.ProductCode" ng-disabled="dialogdisable" >
                     </md-input-container>

      <md-input-container  flex  >   
          <label>Product Category</label>                   
                     <input ng-model="promotion.ProductClass" ng-disabled="dialogdisable" >
                     </md-input-container>
                 
          </div>
        
  
          
          <div layout layout-sm="column" layout-margin>
            <!--KEEP BLANK SPACE - ask why-->
            <div flex="5" class="blankspace"> 
            </div>
            <div flex="20" class="blankspace">
            </div>
            <!--KEEP BLANK SPACE - ask why-->
            
             <md-input-container  flex  >   
                             <label>Product Description</label>                  
                     <input ng-model="promotion.ProductDesc" ng-disabled="dialogdisable" >
                     </md-input-container>
            
          
            
          </div>
          
          <div layout layout-sm="column" layout-margin>
            <!--KEEP BLANK SPACE - ask why-->
            <div flex="5" class="blankspace"> 
            </div>
            <div flex="20" class="blankspace">
            </div>
            <!--KEEP BLANK SPACE - ask why-->
            
            <md-input-container  flex>  
             <label>Rate</label>                     
                     <input ng-model="promotion.RetailPrice"  >
                     </md-input-container>


                                  <md-input-container flex>  
                                        <label>Qty for Rate</label>                   
                     <input ng-model="promotion.Qty">
                     </md-input-container>
            
            
  
            
          </div>
 


          <div layout layout-sm="column" layout-margin>
            <!--KEEP BLANK SPACE - ask why-->
            <div flex="5" class="blankspace"> 
            </div>
            <div flex="20" class="blankspace">
            </div>
            <!--KEEP BLANK SPACE - ask why-->
            
   
                         <md-select placeholder="Currency" ng-model="promotion.PriceUnit" flex>
                     <md-optgroup label="Currency">
                     <md-option value="SLR">SLR</md-option>
                     <md-option value="USD">USD</md-option>
                     <md-option value="LKR">LKR</md-option>
                     <md-option value="MVR">MVR</md-option>
                     </md-select>

                              <md-select placeholder="UOM" ng-model="promotion.QtyUnit" flex>
                     <md-optgroup label="UOM">
                     <md-option value="UNIT">UNIT</md-option>
                     <md-option value="DAY">DAY</md-option>
                     </md-select>
            
  
            
          </div>

          <md-divider></md-divider>

                                        <div class="md-actions" layout="row">
 
    <span flex></span>
<!--     <md-button ng-click="answer('reset')" class="md-primary">
    Reset
    </md-button> -->
    <md-button ng-click="answer('close')" class="md-primary">
      Okay
    </md-button>
  </div>


 


          
          
          
  <!--         <div layout="row" layout-align="end start" layout-margin ng-init="submitted=false" >
            <md-button id="accountSubmit" class="md-raised md-primary" style="width:100px;margin-right:10px !important; margin-left:20px !important" ng-disabled="submitted" type="submit">Submit</md-button>
          </div> -->
        </md-content>
      </form>

    


               <!--ALL TABS END-->
            </md-whiteframe>

          


            <!--WHITEFRAME END-->
         </div>

         <!--END OF 960px FRAME LIMIT-->
 



</md-dialog>