<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<style type="text/css">
   .card_container {
   max-width: 928px;
   margin-right: auto;
   margin-left: auto;
   }
   .mt1 {
   margin-top: 10px;
   }
   .align-right {
   text-align: right;
   }
   .mouse-pointer {
   cursor: pointer;
   }
   .thumbnail {
   display: block;
   padding: 4px;
   margin-bottom: 20px;
   line-height: 1.42857143;
   background-color: #fff;
   border: 1px solid #ddd;
   border-radius: 4px;
   -webkit-transition: border .2s ease-in-out;
   -o-transition: border .2s ease-in-out;
   transition: border .2s ease-in-out
   }

   
</style>
<div ng-init="btntype = 'cards'"></div>
<div ng-init="loadAllproduct()"></div>
<div class="md-childApp-containerSection" ng-init="loadAllOrders()">
<!--HEADER START-->
<div class="md-childApp-headerSection">
   <!--    <md-header src="img/chat.png" name="Promotion" ></md-header> -->
   <!--START OF ANIMATED FLOATING BUTTON-->
   <div ng-controller="AppCtrl as ctrl" ng-init="demoPage = 'core'">
      <nav mfb-menu position="{{ctrl.chosen.position}}" effect="{{ctrl.chosen.effect}}"
         active-icon="ion-close-round" resting-icon="ion-plus-round"
         ng-mouseenter="hovered()" ng-mouseleave="hovered()"
         toggling-method="{{ctrl.chosen.method}}" menu-state="ctrl.menuState" main-action="ctrl.mainAction()">
         <button mfb-button icon="{{button.icon}}" ng-click="ctrl.loc(button.href)"
            label="{{button.label}}" ng-repeat="button in ctrl.buttons"></button>
      </nav>
   </div>
   <!--END OF ANIMATED FLOATING BUTTON-->
</div>
<!--div ui-view></div-->
<!---MAIN CONTENT START-->
<div class="md-childApp-contentContainerSection" ng-scrollbars ng-scrollbars-config="scrollbarConfig">
   <!--START OF 960px FRAME LIMIT-->
   <div class="card_container" style="margin-top:10px;">
      <div class="collapse-card" ng-repeat="promotion in promotions" >
         <div class="collapse-card__heading" layout="row" layout-align="start start">
            <div class="collapse-card_header_content_info" style="width:90%;">
               <img src="img/man-icon.png" style="margin-top:5px;border-radius:20px height:35px; width:35px; "/>
               <h4 class="collapse-card__title" style="margin-top:-49px; margin-left:40px">
                  {{promotion.code}}
               </h4>
               <div style="margin-left:40px">Customer name: Promotion</div>
            </div>
            <div class="collapse-card_header_content_controls" style="width:10%; height:100%;" layout="column" layout-align="center start">
               <!--md-button class="md-icon-button" aria-label="More" ng-disabled="checkAbility" ng-click="moreOptions()">
                  <md-icon md-svg-icon="img/ic_more_vert_24px.svg"></md-icon>
                  </md-button-->
               <md-menu md-position-mode="target-right target">
                  <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                     <md-icon md-svg-icon="img/ic_more_vert_24px.svg"></md-icon>
                  </md-button>
                  <md-menu-content width="4">
                     <md-menu-item ng-repeat="item in [1, 2, 3]">
                        <md-button ng-click="announceClick($index)">
                           <p>Option {{item}}</p>
                           <md-icon md-menu-align-target ></md-icon>
                        </md-button>
                     </md-menu-item>
                  </md-menu-content>
               </md-menu>
            </div>
         </div>
         <div class="collapse-card__body">
            <!--WHITEFRAME START-->
            <!--ALL TABS START-->
            <md-tabs md-dynamic-height md-border-bottom>
               <!--FIRST TAB START-->
               <md-tab label="Promotion">
                  <!--FORM START-->
                  <form name="editForm">
                     <div layout="row" layout-align="end start" style="background:rgb(228, 240, 236)">
                        <div style="margin-top:8px">Editing</div>
                        <md-switch ng-model="formEditing" aria-label="Switch 1" style="margin:6px" ng-change="onChange(formEditing)">
                        </md-switch>
                        <md-button style="height:0px;line-height:0px; " class="md-icon-button" aria-label="More" ng-disabled="checkAbility" ng-click="deleteRecord($event, creditNote.cnNo)">
                           <md-icon md-svg-icon="img/ic_delete_24px.svg"></md-icon>
                        </md-button>
                        <md-button style="height:0px;line-height:0px; " class="md-icon-button" aria-label="More" ng-disabled="checkAbility" ng-click="edit(promotion)">
                           <md-icon md-svg-icon="img/ic_save_24px.svg"></md-icon>
                        </md-button>
                     </div>
                     <md-content flex>
                        <div layout layout-sm="column" layout-margin>
                           <div flex="5">
                              <img src="img/material alperbert/avatar_tile_p_28.png" style="margin-top:22px;border-radius:20px"/>
                           </div>
                           <div flex="20" style="margin-top:35px;">
                              <label style="font-weight:700">Promotion Information</label>
                           </div>
                           <md-input-container flex>
                              <label>Promotion Code</label>
                              <input type="text" ng-model="promotion.code" ng-disabled="true"/> 
                           </md-input-container>
                           <md-select placeholder="Operational Status" ng-model="promotion.status" flex ng-disabled="checkAbility">
                              <md-optgroup label="Status">
                              <md-option value="1">Active</md-option>
                              <md-option value="2">Deactive</md-option>
                           </md-select>
                        </div>
                        <div layout layout-sm="column" layout-margin >
                           <!--KEEP BLANK SPACE - ask why-->
                           <div flex="5" class="blankspace">  
                           </div>
                           <div flex="20" class="blankspace">
                           </div>
                           <!--KEEP BLANK SPACE - ask why-->
                           <md-input-container flex>
                              <label>Promotion Description</label>
                              <textarea maxlength="200" type="text" ng-model="promotion.description" ng-disabled="checkAbility">
                              </textarea>
                           </md-input-container>
                           <!--md-chips ng-model="ctrl.roFruitNames" readonly="ctrl.readonly" flex>
                              <md-chip-template>
                              <strong>{{$chip}}</strong>
                              <em>(fruit)</em>
                              </md-chip-template>
                              </md-chips-->
                        </div>
                        <div layout layout-sm="column" layout-margin>
                           <div flex="5" class="blankspace">  
                           </div>
                           <div flex="20" class="blankspace">
                           </div>
                           <md-input-container flex>
                              <label>Number of purchases </label>
                              <input type="text" ng-model="promotion.purchases" ng-disabled="checkAbility"/> 
                           </md-input-container>
                           <md-date-picker model="promotion.date" label="Start Date" dialog-md-theme="datePickerTheme" flex ng-disabled="checkAbility"/>
                           <!--md-chips ng-model="ctrl.roFruitNames" readonly="ctrl.readonly" flex>
                              <md-chip-template>
                              <strong>{{$chip}}</strong>
                              <em>(fruit)</em>
                              </md-chip-template>
                              </md-chips-->
                        </div>
                        <div layout layout-sm="column" layout-margin>
                           <div flex="5" class="blankspace">  
                           </div>
                           <div flex="20" class="blankspace">
                           </div>
                           <md-select placeholder="Promotion Type" ng-model="promotion.type" flex  ng-disabled="checkAbility">
                              <md-optgroup label="type">
                              <md-option value="1">Pre Paid</md-option>
                              <md-option value="2">Post Paid</md-option>
                           </md-select>
                           <md-date-picker model="promotion.duedate" label="Due Date" dialog-md-theme="datePickerTheme" flex ng-disabled="checkAbility"/>
                        </div>
                        <md-divider></md-divider>
                        <div layout layout-sm="column" layout-margin>
                           <div flex="5">
                              <img src="img/material alperbert/avatar_tile_p_28.png" style="margin-top:22px;border-radius:20px"/>
                           </div>
                           <div flex="20" style="margin-top:35px;">
                              <label style="font-weight:700">Product Details</label>
                           </div>
                        </div>
                        <div layout layout-sm="column" layout-margin >
                           <div class="table-responsive-vertical"  style="font-size:0.8em; overflow:auto;" >
                              <!-- Table starts here -->
                              <table id="table" class="table table-hover table-mc-light-blue" >
                                 <tbody>
                                    <tr>
                                       <td style=" padding-right: 20px; ">
                                          <div layout layout-sm="column" layout-margin>
                                            <ul class="thumbnails">
                                             <li class="span3" style='margin-left:10px; width: 400px; min-height: 200px;'>
                                                <div class="thumbnail" data-drop="true" ng-model="promotion.dropItems" data-jqyoui-options="optionsList1" jqyoui-droppable="{multiple:true, onDrop:'dragsave'}" style="max-width: 400px; min-height: 200px;">
                                                   <div class="card_container">

                                                     

                                                 <div class="collapse-card" ng-repeat="item in promotion.dropItems" ng-show="item.ProductCode" data-drag="dragdrop" data-jqyoui-options="{revert: 'invalid'}" ng-model="dropItemArray" jqyoui-draggable="{index: {{$index}},animate:true}"> 

                                                                <div class="collapse-card__heading" layout="row" layout-align="start start">
    
                              <div class="collapse-card_header_content_info" style="width:90%;">
                               <img src="img/man-icon.png" style="margin-top:5px;border-radius:20px height:35px; width:35px; "/>
                               <h4 class="collapse-card__title" style="margin-top:-49px; margin-left:40px">
                                       {{item.ProductCode}}
                                    </h4>
                            <div style="margin-left:40px">Product name: {{item.ProductCode}}</div>
                      
                              </div>
                              
                              <div class="collapse-card_header_content_controls" style="width:10%; height:100%;" layout="column" layout-align="center start">
                            
                                     <img ng-src="img/delete.png"  ng-click="removeItemincards(item)" style="max-width: 20px; max-height: 20px;" ng-hide="checkAbility" />



                              </div>
                              
                             </div>
                                 </div>




                                                   </div>
                                                </div>
                                             </li>
                                          </ul>
                                             <div layout-sm="column" style="margin-left: 20px; margin-bottom: 20px;">
                                                <md-tabs md-dynamic-height md-border-bottom style="width:450px;">
                                                   <md-tab label="Product">
                                                      <div class="card_container" style="margin-top:10px;  height: 250px; overflow-y: scroll;">
                                                         <div class="collapse-card" draggable="true" ng-repeat="item in products" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="products" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" ng-hide="!item.ProductClass">
                                                            <div class="collapse-card__heading" layout="row" layout-align="start start">
                                                               <div class="collapse-card_header_content_info" style="width:90%;">
                                                                  <img src="img/man-icon.png" style="margin-top:5px;border-radius:20px height:35px; width:35px; "/>
                                                                  <h4 class="collapse-card__title" style="margin-top:-49px; margin-left:40px">
                                                                     {{item.ProductCode}}
                                                                  </h4>
                                                                  <div style="margin-left:40px">Product name: {{item.ProductCode}}</div>
                                                               </div>
                                                               <div class="collapse-card_header_content_controls" style="width:10%; height:100%;" layout="column" layout-align="center start">
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </md-tab>
                                                   <div class="collapse-card__body">
                                                      <md-input-container flex>
                                                         <label>Promotion Code</label>
                                                         <input type="text" ng-model="promotion.code" /> 
                                                      </md-input-container>
                                                   </div>
                                                   <md-tab label="Package">
                                                      <!--FORM START-->
                                                      <div class="card_container" style="margin-top:10px;">
                                                         <div class="collapse-card">
                                                            <div class="collapse-card__heading">
                                                               <h4 class="collapse-card__title">
                                                                  <div>Promotion Code </div>
                                                               </h4>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <!--FORM END-->
                                                   </md-tab>
                                                </md-tabs>
                                             </div>
                                       </td>
                                       </td>
                                    </tr>
                                    <tr animate ng:repeat="promotion in promotion.dropItems">
                                    <td data-title="Product Code" >
                                    <div layout layout-sm="column" layout-margin>
                                    <md-input-container  flex>                   
                                    <input ng-model="promotion.ProductCode" placeholder="Product Code">
                                    </md-input-container>
                                    <md-input-container  flex>                   
                                    <input ng-model="promotion.ProductDesc" placeholder="Product Description">
                                    </md-input-container>
                                    <md-input-container  flex>                   
                                    <input ng-model="promotion.ProductClass" placeholder="Product Category">
                                    </md-input-container>
                                    <md-input-container  flex>                   
                                    <input ng-model="promotion.RetailPrice" placeholder="Rate">
                                    </md-input-container>
                                    <md-select placeholder="Currency" ng-model="promotion.PriceUnit" flex>
                                    <md-optgroup label="Currency">
                                    <md-option value="SLR">SLR</md-option>
                                    <md-option value="USD">USD</md-option>
                                    <md-option value="LKR">LKR</md-option>
                                    <md-option value="MVR">MVR</md-option>
                                    </md-select>
                                    <md-input-container flex>                   
                                    <input ng-model="promotion.Qty" placeholder="Qty for Rate" >
                                    </md-input-container>
                                    <md-select placeholder="UOM" ng-model="promotion.QtyUnit" flex>
                                    <md-optgroup label="UOM">
                                    <md-option value="UNIT">UNIT</md-option>
                                    <md-option value="DAY">DAY</md-option>
                                    </md-select>
                                    </div>
                                    </td>
                                    </tr>
                                 </tbody>
                              </table>
                              <!--         <div layout layout-sm="column" layout-margin>
                                 <div flex="5">
                                    <md-button ng-click="addItem()">
                                       Add New
                                    </md-button>
                                 </div>
                                 </div> -->
                              </div>
                           </div>
                     </md-content>
                  </form>
                  <!--FORM END-->
               </md-tab>
               <!--FIRST TAB END-->
               <!--SECOND TAB START-->
               <md-tab label="Additional Information">
               <md-content class="md-padding">
               <h1 class="md-display-2">Additional Information</h1>
               </md-content>
               </md-tab>
               <!--SECOND TAB END-->
            </md-tabs>
            <!--ALL TABS END-->
            </div>
         </div>
         <!--   <div class="collapse-card">
            <div class="collapse-card__heading">
                <h4 class="collapse-card__title">
                    
                    <div>Macbook </div>
                </h4>
            <div>$2,499.00 </div>
            </div>
            <div class="collapse-card__body">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                <div class="collapse-card__close_handler mt1 align-right mouse-pointer">
                    Show less
                </div>
            </div>
            </div>
            <div class="collapse-card">
            <div class="collapse-card__heading">
                <h4 class="collapse-card__title">
                    
                    <div>Alienware 14</div>
                </h4>
            <div>$1689.99 </div>
            </div>
            <div class="collapse-card__body">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>
            </div> -->
      </div>
      <!--END OF 960px FRAME LIMIT-->
   </div>
   <!---MAIN CONTENT END-->
</div>
