     
	 <div layout="column" layout-fill layout-align="top center" class="content">
	  
	  <div style="overflow:hidden;">
		<img src="img/caller.jpg"></img>
      </div>
		<div style="box-shadow: 1px 1px 5px #ccc;margin-top:-17%;margin-left:77%; height:152px; width:202px">
		<img src="img/Photo180.jpg" height="150px"></img>
      </div>
	   
      <div flex style="margin-top: -50px">
	   <center><md-button id="decline" class="md-fab" aria-label="Eat cake" style="background:#fd183f">
            <md-icon md-svg-src="bower_components/material-design-icons/communication/svg/production/ic_call_end_48px.svg"></md-icon>
        </md-button></center></div>

		</div>