<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>

<link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
<link rel="stylesheet" type="text/css" href="css/child_app_styles.min.css">
<link rel="stylesheet" href="css/directive_library.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">  

</head>

<body ng-controller="AppCtrl" ng-cloak>

	<!--Background banner with parallax effect-->
	<md-background-banner color="rgb(98, 203, 143)" height="230px"> </md-background-banner>
	
	<!--START OF ALL CONTENT-->
	<div id="md-childApp-contentContainerSection" >
			
		<!--START OF HEADER CARD CONTAINER-->
		<div class="header_container" style="padding-top:20px;">
			<div style="margin-bottom:8px;">
				<md-autocomplete
					  ng-keypress="enter($event)"
					  ng-disabled="ctrl.isDisabled"
					  md-no-cache="ctrl.noCache"
					  md-selected-item="ctrl.selectedItem"
					  md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
					  md-search-text="ctrl.searchText"
					  md-selected-item-change="ctrl.selectedItemChange(item)"
					  md-items="item in ctrl.querySearch(ctrl.searchText)"
					  md-item-text="item.display"
					  md-min-length="0"
					  placeholder="Action Search">
					<md-item-template>
					  <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
					</md-item-template>
					<md-not-found>
					  No matches found for "{{ctrl.searchText}}".
					</md-not-found>
				</md-autocomplete>
			</div>
			 
			<!--START OF FILTER SECTION-->
			<md-whiteframe class="md-whiteframe-z1" layout="row" layout-sm="column" style="background:#EAFDFF; margin-bottom:10px;z-index:2">
					
				<div class="header_container_filter" style="margin:0;" layout="row" layout-align="center center" layout-margin>
					<div style="padding-left:16px;">
						<img src="img/material alperbert/avatar_tile_f_28.png" style="border-radius:20px;height:28px;width:28px;"/>
					</div>
					<div style="padding-left:20px;">
						<label style="font-weight:700">Filter</label>
					</div>
				</div>
				<div class="header_container_filter" layout="row" flex layout-align="center center" layout-sm="column">
					<div layout="row" layout-align="center center" layout-margin>
						<md-checkbox ng-click="includeType('Card')">Card </md-checkbox>
						<md-checkbox ng-click="includeType('Account')">Account</md-checkbox>
					</div>
					<div style="border: 1px solid #ccc;margin:0;border-radius:4px;background:rgb(219, 240, 240)" layout="row" layout-align="center center">
						<md-checkbox ng-click="includeStatus('Pending')">Pending </md-checkbox>
						<md-checkbox ng-click="includeStatus('Confirmed')">Confirmed</md-checkbox>
						<md-checkbox ng-click="includeStatus('Rejected')">Rejected</md-checkbox>
					</div>	
				</div>						
			</md-whiteframe>
			<!--END OF FILTER SECTION-->

		</div>
		<!--END OF HEADER CARD CONTAINER-->
		
		<!--START OF CARDS CONTAINER-->
		<div class="card_container">
			
			<!--START OF COLLAPSE CARDS-->
			<div  class="collapse-card" ng-repeat="user in headerInfo | filter:statusFilter | filter:typeFilter" ng-class="{ active: $active }">
				<!--START OF COLLAPSE CARD HEADING-->
				<div class="collapse-card__heading" layout="row" layout-align="start start" >
					
					<!--START OF CARD OPEN SECTION-->
					<div class="collapse-card_header_content_info" layout="row" layout-align="center start" style="width:90%;" ng-click="$active = !$active;loadAll(user);">
						<div flex="50">
							<h4 class="collapse-card__title">
								{{user.FirstName}} {{user.LastName}}
							</h4>
							<div>Requested Date: {{user.Date}}</div>
						</div>
						<div flex="30" class="blankspace">
							
						</div>
						
						<div flex>
							<h4  class="collapse-card__title" style="margin-top:8px;float:right;">
								<span style="color:{{user.StatusColor}}">{{user.Status}}</span>
							</h4>
						</div>
					</div>
					<!--END OF CARD OPEN SECTION-->
					
					<!--START OF CARD CONTROLS SECTION-->
					<div class="collapse-card_header_content_controls" style="width:10%; height:100%;" layout="column" layout-align="center start">

						<md-menu md-position-mode="target-right target">
							<md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
								<md-icon md-svg-icon="img/ic_more_vert_24px.svg"></md-icon>
							</md-button>
							<md-menu-content width="4">
								<md-menu-item  ng-if="user.Status == 'Pending'">
									<md-button ng-click="acceptAccount($event, user)">
										<p>Confirm</p>
										<md-icon md-svg-icon="img/ic_check_24px.svg" style="color:green"></md-icon>
									</md-button>
							   </md-menu-item>
							   <md-menu-item  ng-if="user.Status == 'Pending'">
									<md-button ng-click="rejectAccount($event, user)">
										<p>Reject</p>
										<md-icon md-svg-icon="img/ic_close_24px.svg" style="color:red"></md-icon>
									</md-button>
							   </md-menu-item>
							   <md-menu-divider ng-if="user.Status == 'Pending'"></md-menu-divider>
							   <md-menu-item>
									<md-button ng-click="printDetails($index)">
										<p>Print Request</p>
										<md-icon md-svg-icon="img/ic_print_24px.svg"></md-icon>
									</md-button>
							   </md-menu-item>
							</md-menu-content>
						</md-menu>
					</div>
					<!--END OF CARD CONTROLS SECTION-->
					
				</div>
				<!--END OF COLLAPSE CARD HEADING-->
				
				
				<!--START OF CARD BODY-->
				<div class="collapse-card__body" ng-init="showLoading=true">
					
					<form name="editForm">
					 <md-progress-linear md-mode="indeterminate" ng-show="showLoading"></md-progress-linear>
						
						<md-divider></md-divider>
						
						<md-content flex>
							<div layout layout-sm="column" layout-margin>
								<div flex="5">
									<img src="img/material alperbert/avatar_tile_t_28.png" style="margin-top:22px;border-radius:20px"/>
								</div>
								<div flex="20" style="margin-top:35px;">
									<label style="font-weight:700">Transaction Details</label>
								</div>
								<section-title title="Transaction Details"></section-title>
								<md-input-container flex>
									<label>Date</label>
									<input type="text" ng-model="user.Date" ng-disabled="true"/> 
								</md-input-container>
								<md-input-container flex>
									<label>Transaction ID</label>
									<input type="text" ng-model="user.cnNo" ng-disabled="true"/> 
								</md-input-container>
							</div>

							<div layout layout-sm="column" layout-margin>
								<div flex="5" class="blankspace">	
								</div>
								<div flex="20" class="blankspace">
								</div>
								
								<md-input-container flex>
									<label>Institution</label>
									<input type="text" ng-model="User.FirstName" ng-disabled="true"/> 
								</md-input-container>
							</div>
							
							<md-divider></md-divider>
							
							<div layout layout-sm="column" layout-margin>
								<div flex="5">
									<img src="img/material alperbert/avatar_tile_c_28.png" style="margin-top:22px;border-radius:20px"/>
								</div>
								<div flex="20" style="margin-top:35px;">
									<label style="font-weight:700">{{user.CardOrAccount}} Details</label>
								</div>
								
								<md-input-container flex>
									<label>Account Type</label>
									<input type="text" ng-model="user.CardOrAccount" ng-disabled="true"/> 
								</md-input-container>
								<md-input-container flex>
									<label>{{user.CardOrAccount}} Number</label>
									<input type="text" ng-model="user.CardOrAccountNo" ng-disabled="true"/> 
								</md-input-container>
								
							</div>
							
							<div layout layout-sm="column" layout-margin flex ng-if="user.CardOrAccount=='Card'">
								<div flex="5" class="blankspace">	
								</div>
								<div flex="20" class="blankspace">
								</div>
								
								<md-input-container flex >
									<label>Expiry Date</label>
									<input type="text" ng-model="user.Expiry" ng-disabled="true"/> 
								</md-input-container>
								<md-input-container flex>
					
								</md-input-container>
								
							</div>
							<md-divider></md-divider>
							<div layout layout-sm="column" layout-margin>
								<div flex="5">
									<img src="img/material alperbert/avatar_tile_c_28.png" style="margin-top:22px;border-radius:20px"/>
								</div>
								<div flex="20" style="margin-top:35px;">
									<label style="font-weight:700">Contact Details</label>
								</div>
								
								<md-input-container flex>
									<label>First Name</label>
									<input type="text" ng-model="user.FirstName" ng-disabled="true"/> 
								</md-input-container>
								<md-input-container flex>
									<label>Last Name</label>
									<input type="text" ng-model="user.LastName" ng-disabled="true"/> 
								</md-input-container>
								
							</div>
							<div layout layout-sm="column" layout-margin>
								<div flex="5" class="blankspace">	
								</div>
								<div flex="20" class="blankspace">
								</div>
								
								<md-input-container flex>
									<label>NIC Number</label>
									<input type="text" ng-model="user.Nic" ng-disabled="true"/> 
								</md-input-container>
								<md-input-container flex>
									<label>Country</label>
									<input type="email" ng-model="user.Country" ng-disabled="true"/> 
								</md-input-container>
								
							</div>
							<div layout layout-sm="column" layout-margin>
								<div flex="5" class="blankspace">	
								</div>
								<div flex="20" class="blankspace">
								</div>
								
								<md-input-container flex>
									<label>Mobile Number</label>
									<input type="text" ng-model="user.Mobile" ng-disabled="true"/> 
								</md-input-container>
								<md-input-container flex>
									<label>Email Address</label>
									<input type="email" ng-model="user.Email" ng-disabled="true"/> 
								</md-input-container>
								
							</div>
							<md-divider></md-divider>
							<div layout layout-sm="column" layout-margin>
								<div flex="5">
									<img src="img/material alperbert/avatar_tile_s_28.png" style="margin-top:22px;border-radius:20px"/>
								</div>
								<div flex="20" style="margin-top:35px;">
									<label style="font-weight:700">Status</label>
								</div>
								
								<md-input-container flex>
									<label>Current Status</label>
									<input type="text" ng-model="user.Status" ng-disabled="true"/> 
								</md-input-container>
			
								
							</div>
							<div layout="row" layout-align="end start" layout-margin ng-if="user.Status == 'Pending'">
								
		
									<md-button class="md-raised md-primary" ng-click="acceptAccount($event, user)">Confirm</md-button>

									<md-button class="md-raised md-warn" style="margin-right:10px !important; margin-left:20px !important" ng-click="rejectAccount($event, user)">Reject</md-button>
							
							</div>
						</md-content>
					</form>
				</div>
				<!--END OF CARD BODY-->
			</div>
			<!--END OF COLLAPSE CARDS-->
			
		</div>
		<!--END OF CARDS CONTAINER-->
	</div>
	<!--END OF ALL CONTENT-->

<!--script src="js/jquery-2.1.3.min.js"></script-->
<!--script src="js/socket.io-1.2.0.js"></script-->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>

<script src="js/uimicrokernel.js"></script>
<script src="js/paymentmodule.js"></script>
<script src="js/directivelibrary.js"></script>
<script src="js/controllers/account_verification.js"></script>
	
</body>
</html>
