<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>

<link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
<link rel="stylesheet" type="text/css" href="css/child_app_styles.min.css">
<link rel="stylesheet" href="css/directive_library.css">

</head>

<body  ng-controller="AppCtrl as ctrl" ng-cloak>

	<!--Background banner with parallax effect-->
	<md-background-banner color="rgb(98, 203, 143)" height="230px"> </md-background-banner>
	
	<!--CARD CONTAINER START-->
	<div class="card-container" style="padding:20px;">
		<!--WHITEFRAME START-->
		<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" style="border:1px solid #ccc;width:960px;margin:0 auto"> 

			<!--FORM START-->
			!--FORM START-->
         <form name="editForm" ng-submit="submit()" style="width:960px;">
            <md-content flex>
            <div layout layout-sm="column" layout-margin>
               <div flex="5">
                  <img src="img/material alperbert/avatar_tile_p_28.png" style="margin-top:22px;border-radius:20px"/>
               </div>
               <div flex="20" style="margin-top:35px;">
                  <label style="font-weight:700">Promotion Information</label>
               </div>
               <md-input-container flex>
               <label>Promotion Code</label>
               <input type="text" ng-model="promotion.code" ng-disabled="true"/> 
            </md-input-container>
            <md-select placeholder="Operational Status" ng-model="promotion.status" flex  >
            <md-optgroup label="Status">
            <md-option value="1">Active</md-option>
            <md-option value="2">Deactive</md-option>
         </md-select>
      </div>
      <div layout layout-sm="column" layout-margin >
         <!--KEEP BLANK SPACE - ask why-->
         <div flex="5" class="blankspace">  
         </div>
         <div flex="20" class="blankspace">
         </div>
         <!--KEEP BLANK SPACE - ask why-->
         <md-input-container flex>
         <label>Promotion Description</label>
         <textarea maxlength="200" type="text" ng-model="promotion.description" >
         </textarea>
      </md-input-container>
                              <!--md-chips ng-model="ctrl.roFruitNames" readonly="ctrl.readonly" flex>
                                 <md-chip-template>
                                 <strong>{{$chip}}</strong>
                                 <em>(fruit)</em>
                                 </md-chip-template>
                              </md-chips-->
                           </div>
                           <div layout layout-sm="column" layout-margin>
                              <div flex="5" class="blankspace">  
                              </div>
                              <div flex="20" class="blankspace">
                              </div>
                              <md-input-container flex>
                              <label>Number of purchases </label>
                              <input type="text" ng-model="promotion.purchases"  /> 
                           </md-input-container>
                           <md-date-picker model="promotion.date" label="Start Date" dialog-md-theme="datePickerTheme" flex />
                              <!--md-chips ng-model="ctrl.roFruitNames" readonly="ctrl.readonly" flex>
                                 <md-chip-template>
                                 <strong>{{$chip}}</strong>
                                 <em>(fruit)</em>
                                 </md-chip-template>
                              </md-chips-->
                           </div>
                           <div layout layout-sm="column" layout-margin>
                              <div flex="5" class="blankspace">  
                              </div>
                              <div flex="20" class="blankspace">
                              </div>
                              <md-select placeholder="Promotion Type" ng-model="promotion.type" flex  >
                              <md-optgroup label="type">
                              <md-option value="1">Pre Paid</md-option>
                              <md-option value="2">Post Paid</md-option>
                           </md-select>
                           <md-date-picker model="promotion.duedate" label="Due Date" dialog-md-theme="datePickerTheme" flex  />
                        </div>

                        <md-divider></md-divider>
                        <div layout layout-sm="column" layout-margin>
                           <div flex="5">
                              <img src="img/material alperbert/avatar_tile_p_28.png" style="margin-top:22px;border-radius:20px"/>
                           </div>
                           <div flex="20" style="margin-top:35px;">
                              <label style="font-weight:700">Product Details</label>
                           </div>
                        </div>
                           <!-- <div class="btn btn-primary" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{animate:true}" 
                              ng-hide="!list1.title">{{list1.title}}</div>
                              
                              <div class="btn btn-primary" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list3" jqyoui-draggable="{animate:true}" 
                              ng-hide="!list3.title">{{list3.title}}</div> -->

                              <div layout layout-sm="row" layout-margin >
                                 <div class="table-responsive-vertical"  style="font-size:0.8em;overflow:auto;" >
                                    <!-- Table starts here -->

                                    <table id="table" class="table table-hover table-mc-light-blue" >
                                    <!--thead>
                                       <tr>
                                         <th style="font-weight: 100;">Product Code</th>
                                         <th style="font-weight: 100;">Product Description</th>
                                         <th style="font-weight: 100;">Product Category</th>
                                         <th style="font-weight: 100;">Rate</th>
                                         <th style="font-weight: 100;">Currency</th>
                                         <th style="font-weight: 100;">Qty for Rate</th>
                                         <th style="font-weight: 100;">UOM</th>
                                         <th style="font-weight: 100;">FUP</th>
                                         <th style="font-weight: 100;">Rate Plan</th>
                                         <th style="font-weight: 100;">Default</th>
                                         <th style="font-weight: 100;">Allow Group Price</th>
                                         <th style="font-weight: 100;">Items</th>
                                         <th style="font-weight: 100;">Advanced</th>
                                         <th style="font-weight: 100;">Add On</th>
                                       </tr>
                                    </thead-->
                                    <tbody>
                                       <tr>


                                          <td style=" padding-right: 20px; ">
 
                                             <div layout layout-sm="column" layout-margin>

                                        <ul class="thumbnails" >
                                          <li class="span3" style='margin-left:10px; width: 400px;'>
                                             <div class="thumbnail" data-drop="true"  ng-model='list1' data-jqyoui-options="optionsList1" jqyoui-droppable="{multiple:true, onDrop:'onDrop'}" style="max-width: 400px; overflow-y: scroll;">
                                                <div class="card_container">
                                                   <div class="collapse-card" ng-repeat="item in list1" ng-show="item.ProductCode" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1"  jqyoui-draggable="{index: {{$index}}, animate:true}"> 
                                                     <div class="collapse-card__heading" layout="row" layout-align="start start">

                                                      <div class="collapse-card_header_content_info" style="width:90%;">
                                                        <img src="img/man-icon.png" style="margin-top:5px;border-radius:20px height:35px; width:35px; "/>
                                                        <h4 class="collapse-card__title" style="margin-top:-49px; margin-left:40px">
                                                         {{item.ProductCode}}
                                                      </h4>
                                                      <div style="margin-left:40px">Product name: {{item.ProductCode}}</div>
                                                   </div>

                                                   <div style="width:10%; height:100%;" layout="column" layout-align="center start">

                                                      <!--       <md-button href id="delete" value ="delete" name="delete" ng-click="removeItem(item)">delete</md-button> -->
                                                      <img ng-src="img/delete.png"  ng-click="removeItem(item)" style="max-width: 20px; max-height: 20px;" />

                                                   </div>

                                                </div>
 
                                             </div>
                                           </div>
                                       </div>

                                    </li>
                                 </ul>
                                 

                                       <div layout-sm="column" style="margin-left: 20px; margin-bottom: 20px; ">
                                                   <md-tabs md-dynamic-height md-border-bottom style="width:450px; ">
                  <!--FIRST TAB START-->
                  <md-tab label="Product">
                     <div class="card_container" style="margin-top:10px; height: 200px; overflow-y: scroll;">
                       <div class="collapse-card" draggable="true" ng-repeat="item in products" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="products" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" ng-hide="!item.ProductClass">
                        
                          
                           <div class="collapse-card__heading" layout="row" layout-align="start start">
    
                              <div class="collapse-card_header_content_info" style="width:90%;">
                               <img src="img/man-icon.png" style="margin-top:5px;border-radius:20px height:35px; width:35px; "/>
                               <h4 class="collapse-card__title" style="margin-top:-49px; margin-left:40px">
                                       {{item.ProductCode}}
                                    </h4>
                            <div style="margin-left:40px">Product name: {{item.ProductCode}}</div>
                              </div>
                              
                              <div class="collapse-card_header_content_controls" style="width:10%; height:100%;" layout="column" layout-align="center start">
                               <!--md-button class="md-icon-button" aria-label="More" ng-disabled="checkAbility" ng-click="moreOptions()">
                                <md-icon md-svg-icon="img/ic_more_vert_24px.svg"></md-icon>
                               </md-button-->
                               
                              </div>
                              
                             </div>
                       <!--       <div class="collapse-card__body">

                               <md-input-container flex>
                                 <label>Promotion Code</label>
                                 <input type="text" ng-model="promotion.code" /> 
                               </md-input-container>

                             </div>
                       -->
                        </div>
                     </div>
                     <!--FORM END-->
   


                  </md-tab>

                   <div class="collapse-card__body">

                               <md-input-container flex>
                                 <label>Promotion Code</label>
                                 <input type="text" ng-model="promotion.code" /> 
                               </md-input-container>

                             </div>
                  <md-tab label="Package">
                     <!--FORM START-->
                     <div class="card_container" style="margin-top:10px;">
                     <div class="collapse-card">
                           <div class="collapse-card__heading">
                              <h4 class="collapse-card__title">
                                 <div>Promotion Code </div>
                              </h4>
                           </div>


                             <div class="collapse-card__body">

                               <md-input-container flex>
                                 <label>Promotion Code</label>
                                 <input type="text" ng-model="promotion.code" /> 
                               </md-input-container>

                             </div>

                     </div>
                     </div>
                     <!--FORM END-->
                  </md-tab>
               </md-tabs>

                                       </div>
                                          
                                      

                                      </td>    
                                       </td>

                                    </tr>





                                    <tr ng-repeat="promotion in list1">
                                       <td data-title="Product Code" >


                                         <div layout layout-sm="column" layout-margin>
                                          <md-input-container  flex>                   
                                          <input ng-model="promotion.ProductCode" placeholder="Product Code">
                                       </md-input-container>




                                       <md-input-container  flex>                   
                                       <input ng-model="promotion.ProductDesc" placeholder="Product Description">
                                    </md-input-container>





                                    <md-input-container  flex>                   
                                    <input ng-model="promotion.ProductClass" placeholder="Product Category">
                                 </md-input-container>

                                 <md-input-container  flex>                   
                                 <input ng-model="promotion.RetailPrice" placeholder="Rate">
                              </md-input-container>


                              <md-select placeholder="Currency" ng-model="promotion.PriceUnit" flex>
                              <md-optgroup label="Currency">
                              <md-option value="SLR">SLR</md-option>
                              <md-option value="USD">USD</md-option>
                              <md-option value="LKR">LKR</md-option>
                              <md-option value="MVR">MVR</md-option>
                           </md-select>




                           <md-input-container flex>                   
                           <input ng-model="promotion.Qty" placeholder="Qty for Rate" >
                        </md-input-container>


                        <md-select placeholder="UOM" ng-model="promotion.QtyUnit" flex>
                        <md-optgroup label="UOM">
                        <md-option value="UNIT">UNIT</md-option>
                        <md-option value="DAY">DAY</md-option>

                     </md-select>


                  </div>
               </td>
            </tr>


         </tr>
      </tbody>
   </table>
</div>
</div>
<div class="md-actions" layout="row" layout-align="center center" style="display:none">
 <md-button id="mySignup" class="md-raised md-primary" style="width:93%" type="submit"><span class="loginBtnLabel">SAVE</span>
</md-button>
</div>

</md-content>


<!--   <button id="test" value ="test" name="test" ng-click="test()">test</button> -->
</form>
	
		</md-whiteframe><br><br>
		<!--WHITEFRAME END-->
	</div>
	<!--CARD CONTAINER END-->

<!--script src="js/jquery-2.1.3.min.js"></script-->
<!--script src="js/socket.io-1.2.0.js"></script-->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>

<script src="js/uimicrokernel.js"></script>
<script src="js/paymentmodule.js"></script>
<script src="js/directivelibrary.js"></script>
<script src="js/controllers/add_accounts.js"></script>
	
</body>
</html>
