<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>

<link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
<link rel="stylesheet" type="text/css" href="css/child_app_styles.min.css">
<link rel="stylesheet" href="css/directive_library.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">  

<style>

	
</style>

</head>

<body ng-controller="AppCtrl" ng-cloak>


    <div id="view" class="fab_button_animation" style="background:#3498db;"></div>
	<div id="upload" class="fab_button_animation" style="background:#9b59b6;"></div>
	
	<md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
         ng-class="demo.selectedMode" style="position:fixed;bottom:20px;right:20px; ">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab " style="background-color:#db4437;">
            <md-icon md-svg-src="img/ic_add_24px.svg"></md-icon>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
        
          <div style="padding:5px;">
          <md-button aria-label="facebook" class="md-fab md-raised md-mini" ng-click="view()" style="background-color:#3498db;">
            <md-icon md-svg-src="img/ic_visibility_24px.svg" ></md-icon><md-tooltip md-direction="left">View</md-tooltip>
          </md-button>
          </div>
          <div style="padding:5px;">
          <md-button aria-label="Google hangout" class="md-fab md-raised md-mini" ng-click="upload()" style="background-color:#9b59b6;">
            <md-icon md-svg-src="img/ic_cloud_upload_48px.svg"></md-icon><md-tooltip md-direction="left">Upload</md-tooltip>
          </md-button>
          </div>
          <div style="padding:5px;">
           <md-button aria-label="twitter" class="md-fab md-raised md-mini" ng-click="acceptAccount()" style="background-color:#e67e22;">
            <md-icon md-svg-src="img/ic_attach_money_24px.svg" ></md-icon><md-tooltip md-direction="left">Change Currency</md-tooltip>
          </md-button>
          </div>
        </md-fab-actions>
      </md-fab-speed-dial>
<script src="js/jquery-2.1.3.min.js"></script>
<!--script src="js/socket.io-1.2.0.js"></script-->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>

<script src="js/uimicrokernel.js"></script>
<script src="js/paymentmodule.js"></script>
<script src="js/directivelibrary.js"></script>
<script src="js/controllers/button.js"></script>
	
</body>
</html>
