<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
   <head>
      <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
      <link rel="stylesheet" type="text/css" href="css/child_app_styles.min.css">
      <link rel="stylesheet" href="css/directive_library.css">
      <link rel="stylesheet" href="css/search.css">
       <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css">
      <style type="text/css">
         @-moz-document url-prefix() {
         md-select{
         margin-top: 14px !important;
         }
         }
         @font-face {
         font-family: materialFont;
         src: url(fonts/Roboto-Light.ttf);
         }
         .card_container {
         max-width: 928px;
         margin-right: auto;
         margin-left: auto;
         }
           
         .thumbnail {
         display: block;
         padding: 4px;
         height: 300px;
         margin-bottom: 20px;
         line-height: 1.42857143;
         background-color: #fff;
         border: 1px solid #ddd;
         border-radius: 4px;
         -webkit-transition: border .2s ease-in-out;
         -o-transition: border .2s ease-in-out;
         transition: border .2s ease-in-out
         }
         .container {
         padding-right: 15px;
         padding-left: 15px;
         margin-right: auto;
         margin-left: auto
         }
         [draggable] {
         -moz-user-select: none;
         -khtml-user-select: none;
         -webkit-user-select: none;
         user-select: none;
         /* Required to make elements draggable in old WebKit */
         -khtml-user-drag: element;
         -webkit-user-drag: element;
         }
         .dragcard {
         background-color: #fff;
         border-bottom: 1px solid #DDD;
         border-left: 1px solid #DDD;
         border-right: 1px solid #DDD;
         border-top: 1px solid #DDD;
         color: #777; 
         -webkit-transition: 0.4s;
         -moz-transition: 0.4s;
         -o-transition: 0.4s;
         transition: 0.4s;
         -webkit-user-select: none;
         -khtml-user-select: none;
         -moz-user-select: none;
         -o-user-select: none;
         user-select: none;
         }
      </style>
   </head>
   <body ng-controller="AppCtrl as ctrl" ng-cloak>
      <div ng-init="btntype = 'promotion'"></div>
      <div ng-init="loadAllproduct()"></div>
      <!--Background banner with parallax effect-->
      <md-background-banner color="rgb(98, 203, 143)" height="230px"> </md-background-banner>
      <!--CARD CONTAINER START-->
      <div class="card-container" style="padding:20px;">
      <!--WHITEFRAME START-->
      <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" style="border:1px solid #ccc;width:960px;margin:0 auto">

        <div id="view" class="fab_button_animation" style="background:#3498db;"></div>
   <div id="save" class="fab_button_animation" style="background:red;"></div>


         <md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
         ng-class="demo.selectedMode" style="position:fixed;bottom:20px;right:20px; ">  <!-- 20px -->
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab " style="background-color:#db4437;">
            <md-icon md-svg-src="img/ic_add_24px.svg"></md-icon>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions >
        <div style="padding:5px;">
          <md-button aria-label="twitter" class="md-fab md-raised md-mini" ng-click="savebtn()" style="background-color:red; ">
            <md-icon md-svg-src="img/ic_save_24px.svg" ></md-icon><md-tooltip md-direction="left">Save</md-tooltip>
          </md-button>
          </div>
          <div style="padding:5px;">
          <md-button aria-label="facebook" class="md-fab md-raised md-mini" ng-click="viewpromotion()" style="background-color:#3498db;">
            <md-icon md-svg-src="img/ic_visibility_24px.svg" ></md-icon><md-tooltip md-direction="left">View</md-tooltip>
          </md-button>
          </div>
          
        </md-fab-actions>
      </md-fab-speed-dial>
         <!--FORM START-->
         <form name="editForm" ng-submit="submit()" style="width:960px;">
            <md-content flex>
               <div layout layout-sm="column" layout-margin>
                  <div flex="5">
                     <img src="img/material alperbert/avatar_tile_p_28.png" style="margin-top:22px;border-radius:20px"/>
                  </div>
                  <div flex="20" style="margin-top:35px;">
                     <label style="font-weight:700">Promotion Information</label>
                  </div>
                  <md-input-container flex>
                     <label>Promotion Code</label>
                     <input type="text" ng-model="promotion.code" ng-disabled="true"/> 
                  </md-input-container>
                  <md-select placeholder="Operational Status" ng-model="promotion.status" flex class="required" >
                     <md-optgroup label="Status">
                     <md-option value="1">Active</md-option>
                     <md-option value="2">Deactive</md-option>
                  </md-select>
               </div>
               <div layout layout-sm="column" layout-margin >
                  <!--KEEP BLANK SPACE - ask why-->
                  <div flex="5" class="blankspace">  
                  </div>
                  <div flex="20" class="blankspace">
                  </div>
                  <!--KEEP BLANK SPACE - ask why-->
                  <md-input-container flex>
                     <label>Promotion Description</label>
                     <textarea maxlength="200" type="text" ng-model="promotion.description" required>
                     </textarea>
                  </md-input-container>
               </div>
               <div layout layout-sm="column" layout-margin>
                  <div flex="5" class="blankspace">  
                  </div>
                  <div flex="20" class="blankspace">
                  </div>
                  <md-input-container flex>
                     <label>Number of purchases </label>
                     <input type="text" ng-model="promotion.purchases"  required/> 
                  </md-input-container>
                  <md-date-picker model="promotion.date" label="Start Date" dialog-md-theme="datePickerTheme" flex />
               </div>
               <div layout layout-sm="column" layout-margin>
                  <div flex="5" class="blankspace">  
                  </div>
                  <div flex="20" class="blankspace">
                  </div>
                  <md-select placeholder="Product" ng-model="promotion.type" flex ng-change="onselect(promotion.type)" >
                     <md-optgroup label="type">

                     <md-option value="1" >Product</md-option>
                     <md-option value="2">Package</md-option>
                  </md-select>
                  <md-date-picker model="promotion.duedate" label="Due Date" dialog-md-theme="datePickerTheme" flex  />
               </div>
               <md-divider></md-divider>
               <div layout layout-sm="column" layout-margin>
                  <div flex="5">
                     <img src="img/material alperbert/avatar_tile_p_28.png" style="margin-top:22px;border-radius:20px"/>
                  </div>
                  <div flex="20" style="margin-top:35px;">
                     <label style="font-weight:700">Product Details</label>
                  </div>
               </div>
               <div layout layout-sm="row" layout-margin >
                  <div class="table-responsive-vertical"  style="font-size:0.8em;overflow:auto;" >
 
                     <table id="table" class="table table-hover table-mc-light-blue" >
                        <tbody>
                           <tr>
                              <td style=" padding-right: 10px; ">
                                 <div layout layout-sm="column" layout-margin>
                                    <ul class="thumbnails" >
                                       <li class="span3" style='margin-left:-12px; width: 400px; margin-top: -12px; '>
                                          <div class="thumbnail mCustomScrollbar" data-drop="true"  ng-model='list1' data-jqyoui-options jqyoui-droppable="{multiple:true,onDrop:'test'}" style="max-width: 400px; min-height: 313px;">
                                             <div class="card_container">
                                                <div class="dragcard" ng-repeat="item in list1" ng-show="item.ProductCode" data-drag="false" data-jqyoui-options="{revert: 'invalid'}" ng-model="item"  jqyoui-draggable="{index: {{$index}}, animate:true">
                                                   <div class="collapse-card__heading" layout="row" layout-align="start start" >
                                                      <div class="collapse-card_header_content_info" style="width:80%;">
                                                         <img src="img/man-icon.png" style="margin-top:5px;border-radius:20px height:35px; width:35px; "/>
                                                         <h4 class="collapse-card__title" style="margin-top:-49px; margin-left:40px">
                                                            {{item.ProductCode}}
                                                         </h4>
                                                         <div style="margin-left:40px">Product name: {{item.ProductCode}}</div>
                                                      </div>
                                                      <div style="width:10%; height:100%;" layout="column" layout-align="center start">
                                                         <!--       <md-button href id="delete" value ="delete" name="delete" ng-click="removeItem(item)">delete</md-button> -->
                                                         <img ng-src="img/system_software_update.icon"  ng-click="productdetails($event,item)" style="max-width: 20px; max-height: 20px;" />
                                                      </div>
                                                      <div style="width:10%; height:100%;" layout="column" layout-align="center start">
                                                         <!--       <md-button href id="delete" value ="delete" name="delete" ng-click="removeItem(item)">delete</md-button> -->
                                                         <img ng-src="img/delete.png"  ng-click="removeItem($index,item)" style="max-width: 20px; max-height: 20px;" />
                                                      </div>
                                                   </div>
                                                </div>

                                             </div>
                                          </div>
                                       </li>
                                    </ul>
                                    <div layout-sm="column" style="margin-left: 27px; margin-bottom: 20px;">
                                       <md-tabs md-dynamic-height md-border-bottom style="width:450px; height: 300px; border: 2px solid #DDD;">
                                       
                                          <md-tab label="Product" ng-disabled="productdisabled">
                                          
                                             <div class="search">
                                                <input class="searchTerm" placeholder="Enter your search term ..." ng-model="searchinput" />
                                                <input class="searchButton" type="button" />
                                             </div>
                                             <!-- orderBy : 'ProductCode' -->
                                             <div data-mcs-theme="dark" class="card_container mCustomScrollbar"  style="margin-top:10px; height: 200px; ">
                                                <div class="dragcard" draggable="true" ng-repeat="item in productarray | filter: searchinput" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="item" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" ng-hide="!item.ProductClass" >
                                                   <div class="collapse-card__heading" layout="row" layout-align="start start">
                                                      <div class="collapse-card_header_content_info" style="width:90%;">
                                                         <img src="img/man-icon.png" style="margin-top:5px;border-radius:20px height:35px; width:35px; "/>
                                                         <h4 class="collapse-card__title" style="margin-top:-49px; margin-left:40px">
                                                            {{item.ProductCode}}
                                                         </h4>
                                                         <div style="margin-left:40px">Product name: {{item.ProductCode}}</div>
                                                      </div>
                                                      <div class="collapse-card_header_content_controls" style="width:10%; height:100%;" layout="column" layout-align="center start">
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </md-tab>
                                          <md-tab label="Package" ng-disabled="packagedisabled">
                                             <!--FORM START-->
                                             <div class="search">
                                                <input class="searchTerm" placeholder="Enter your search term ..." ng-model="searchinput2" />
                                                <input class="searchButton" type="button" />
                                             </div>
                                             <!-- orderBy : 'ProductCode' -->
                                             <div data-mcs-theme="dark" class="card_container mCustomScrollbar" style="margin-top:10px; height: 200px;">
                                                <div class="dragcard" draggable="true" ng-repeat="item in promotionarray | filter: searchinput2 | unique: 'ProductCode'" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="item" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" ng-hide="!item.ProductClass" >
                                                   <div class="collapse-card__heading" layout="row" layout-align="start start">
                                                      <div class="collapse-card_header_content_info" style="width:90%;">
                                                         <img src="img/man-icon.png" style="margin-top:5px;border-radius:20px height:35px; width:35px; "/>
                                                         <h4 class="collapse-card__title" style="margin-top:-49px; margin-left:40px">
                                                            {{item.ProductCode}}
                                                         </h4>
                                                         <div style="margin-left:40px">Product name: {{item.ProductCode}}</div>
                                                      </div>
                                                      <div class="collapse-card_header_content_controls" style="width:10%; height:100%;" layout="column" layout-align="center start">
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <!--FORM END-->
                                          </md-tab>
                                       </md-tabs>
                                    </div>
                              </td>
                              </td>
                           </tr>
                           <!--   {{list1}} -->
                           <tr ng-repeat="promotion in list1" ng-hide="true">
                           <td data-title="Product Code" >
                           <div layout layout-sm="column" layout-margin>
                           <md-input-container  flex>                   
                           <input ng-model="promotion.ProductCode" placeholder="Product Code">
                           </md-input-container>
                           <md-input-container  flex>                   
                           <input ng-model="promotion.ProductDesc" placeholder="Product Description">
                           </md-input-container>
                           <md-input-container  flex>                   
                           <input ng-model="promotion.ProductClass" placeholder="Product Category">
                           </md-input-container>
                           <md-input-container  flex>                   
                           <input ng-model="promotion.RetailPrice" placeholder="Rate">
                           </md-input-container>
                           <md-select placeholder="Currency" ng-model="promotion.PriceUnit" flex>
                           <md-optgroup label="Currency">
                           <md-option value="SLR">SLR</md-option>
                           <md-option value="USD">USD</md-option>
                           <md-option value="LKR">LKR</md-option>
                           <md-option value="MVR">MVR</md-option>
                           </md-select>
                           <md-input-container flex>                   
                           <input ng-model="promotion.Qty" placeholder="Qty for Rate" >
                           </md-input-container>
                           <md-select placeholder="UOM" ng-model="promotion.QtyUnit" flex>
                           <md-optgroup label="UOM">
                           <md-option value="UNIT">UNIT</md-option>
                           <md-option value="DAY">DAY</md-option>
                           </md-select>
                           </div>
                           </td>
                           </tr>
                           </tr>
                        </tbody>
                     </table>
                     </div>
                  </div>
                  <div class="md-actions" layout="row" layout-align="center center" style="display:none">
                     <md-button id="mySignup" class="md-raised md-primary" style="width:93%" type="submit"><span class="loginBtnLabel">SAVE</span></md-button>
                  </div>
            </md-content>
         </form>
      </md-whiteframe>
      <br><br>
      <!--WHITEFRAME END-->
      </div>
      <!--CARD CONTAINER END-->
      <!--script src="js/jquery-2.1.3.min.js"></script-->
      <!--script src="js/socket.io-1.2.0.js"></script-->
      <script src="js/jquery-2.1.3.min.js"></script>
      <script src="js/jquery-ui.js"></script>
      <script src="bower_components/angular/angular.min.js"></script>
      <script src="bower_components/angular-animate/angular-animate.js"></script>
      <script src="bower_components/angular-aria/angular-aria.js"></script>
      <script src="bower_components/angular-material/angular-material.js"></script>
      <script src="bower_components/angular-route/angular-route.js"></script>
      <script src="bower_components/angular-dragdrop/angular-dragdrop.min.js"></script>
      <script src="js/uimicrokernel.js"></script>
      <script src="js/paymentmodule.js"></script>
      <script src="js/directivelibrary.js"></script>
      <script src="js/controllers/promotion.js"></script>
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>


        <script>
    (function($){
        $(window).load(function(){
            $(".content").mCustomScrollbar();
        });
    })(jQuery);
</script>
   </body>
</html>
