<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
   <head>
      <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
      <link rel="stylesheet" type="text/css" href="css/child_app_styles.min.css">
      <link rel="stylesheet" href="css/directive_library.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="css/search.css">
      
      <style type="text/css">
         @-moz-document url-prefix() {
         md-select{
         margin-top: 14px !important;
         }
         }
         @font-face {
         font-family: materialFont;
         src: url(fonts/Roboto-Light.ttf);
         }
         .card_container {
         max-width: 928px;
         margin-right: auto;
         margin-left: auto;
         }
       
         .thumbnail {
         display: block;
         padding: 4px;
         margin-bottom: 20px;
         line-height: 1.42857143;
         background-color: #fff;
         border: 1px solid #ddd;
         border-radius: 4px;
         -webkit-transition: border .2s ease-in-out;
         -o-transition: border .2s ease-in-out;
         transition: border .2s ease-in-out
         }
         .container {
         padding-right: 15px;
         padding-left: 15px;
         margin-right: auto;
         margin-left: auto
         }
         [draggable] {
         -moz-user-select: none;
         -khtml-user-select: none;
         -webkit-user-select: none;
         user-select: none;
         /* Required to make elements draggable in old WebKit */
         -khtml-user-drag: element;
         -webkit-user-drag: element;
         }
         .dragcard {
         background-color: #fff;
         border-bottom: 1px solid #DDD;
         border-left: 1px solid #DDD;
         border-right: 1px solid #DDD;
         border-top: 1px solid #DDD;
         color: #777; 
         -webkit-transition: 0.4s;
         -moz-transition: 0.4s;
         -o-transition: 0.4s;
         transition: 0.4s;
         -webkit-user-select: none;
         -khtml-user-select: none;
         -moz-user-select: none;
         -o-user-select: none;
         user-select: none;
         }
      </style>
   </head>
   <body ng-controller="AppCtrl" ng-cloak>
      <!--Background banner with parallax effect-->
      <md-background-banner color="rgb(98, 203, 143)" height="230px"> </md-background-banner>
      <div ng-init="loadAllOrders()"></div>
      <!--START OF ALL CONTENT-->
      <div id="md-childApp-contentContainerSection"  ng-init="loadAllproduct()">
      <!--START OF FIRST CARD CONTAINER-->
      <div class="header_container" style="padding-top:20px;">
         <div  style="margin-bottom:8px;">
            <md-autocomplete
               ng-keypress="enter($event)"
               ng-disabled="ctrl.isDisabled"
               md-no-cache="ctrl.noCache"
               md-selected-item="ctrl.selectedItem"
               md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
               md-search-text="ctrl.searchText"
               md-selected-item-change="ctrl.selectedItemChange(item)"
               md-items="item in ctrl.querySearch(ctrl.searchText)"
               md-item-text="item.display"
               md-min-length="0"
               placeholder="Action Search">
               <md-item-template>
                  <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
               </md-item-template>
               <md-not-found>
                  No matches found for "{{ctrl.searchText}}".
               </md-not-found>
            </md-autocomplete>
         </div>
         <!--START OF FILTER SECTION-->
         <!-- 			<md-whiteframe class="md-whiteframe-z1" layout="row" layout-sm="column" style="background:#EAFDFF; margin-bottom:10px;z-index:2;min-height:59px;">
            <div class="header_container_filter" style="margin:0;" layout="row" layout-align="center center" layout-margin>
            	<div style="padding-left:16px;">
            		<img src="img/material alperbert/avatar_tile_f_28.png" style="border-radius:20px;height:28px;width:28px;"/>
            	</div>
            	<div style="padding-left:20px;">
            		<label style="font-weight:700">Filter</label>
            	</div>
            </div>
            <div class="header_container_filter" layout="row" flex layout-align="center center" layout-sm="column">
            
            	<div style="border: 1px solid #ccc;margin:0;border-radius:4px;background:rgb(219, 240, 240)" layout="row" layout-align="center center">
            		<md-checkbox ng-click="includeStatus('Pending')">Pending </md-checkbox>
            		<md-checkbox ng-click="includeStatus('Confirmed')">Confirmed</md-checkbox>
            		<md-checkbox ng-click="includeStatus('Rejected')">Rejected</md-checkbox>
            	</div>	
            </div>						
            </md-whiteframe> -->
         <!--END OF FILTER SECTION-->
      </div>
      <!--END OF FIRST CARD CONTAINER-->
      <!--START OF SECOND CARD CONTAINER-->
      <div class="card_container">
         <!--START OF  COLLAPSE CARDS-->
         <div  class="collapse-card" ng-repeat="promotion in promotions track by $index" ng-class="{ active: $active }" >
            <!--START OF COLLAPSE CARD HEADING-->
            <div ng-click="arraycheck(promotion.dropItems)">
               <div class="collapse-card__heading" layout="row" layout-align="start start" ng-click="dropItemFunction(promotion.dropItems,$index,promotion.type)">
                  <div  class="lock-size" layout="row">

 <div id="add" class="fab_button_animation" style="background:#3498db;"></div>

                     <md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
                        ng-class="demo.selectedMode" style="position:fixed;bottom:20px;right:20px; ">
                        <!-- 20px -->
                        <md-fab-trigger>
                           <md-button aria-label="menu" class="md-fab " style="background-color:#db4437;">
                              <md-icon md-svg-src="img/ic_add_24px.svg" style="width:30px;" ></md-icon>
                           </md-button>
                        </md-fab-trigger>
                        <md-fab-actions >
                           <div style="padding:5px;">
                              <md-button aria-label="twitter" class="md-fab md-raised md-mini" ng-click="addpromotion()" style="background-color:#3498db; ">
                                 <md-icon md-svg-src="img/ic_visibility_24px.svg" ></md-icon>
                                 <md-tooltip md-direction="left">ADD</md-tooltip>
                              </md-button>
                           </div>
                        </md-fab-actions>
                     </md-fab-speed-dial>
                  </div>
                  <!--START OF CARD OPEN SECTION-->
                  <div class="collapse-card_header_content_info" layout="row" layout-align="center start" style="width:90%;" ng-click="$active = !$active;">
                     <div flex="50">
                        <h4 class="collapse-card__title">
                           Promotion Code:  {{promotion.code}}
                        </h4>
                        <div>
                           <!-- Paid To : {{transaction.Company}} -->
                        </div>
                     </div>
                     <div flex="30" class="blankspace">
                        <h4 class="collapse-card__title" style="margin-top:8px;">
                           Due Date : 
                           <span style="color:green">{{promotion.date}}</span>
                        </h4>
                     </div>
                     <div flex>
                        <!-- <h4 class="collapse-card__title" style="margin-top:8px;float:right;">
                           <span style="color:{{}}">{{transaction.Status}}</span>
                           </h4> -->
                     </div>
                  </div>
                  <!--END OF CARD OPEN SECTION-->
                  <!--START OF CARD CONTROLS SECTION-->
                  <div class="collapse-card_header_content_controls" style="width:10%; height:100%;" layout="column" layout-align="center start">
                     <md-menu md-position-mode="target-right target">
                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                           <md-icon md-svg-icon="img/ic_more_vert_24px.svg"></md-icon>
                        </md-button>
                        <md-menu-content width="4">
                           <md-menu-item ng-if="transaction.Status == 'Pending'">
                              <md-button ng-click="acceptAccount($event,transaction)">
                                 <p>Confirm</p>
                                 <md-icon md-svg-icon="img/ic_check_24px.svg" style="color:green"></md-icon>
                              </md-button>
                           </md-menu-item>
                           <md-menu-item ng-if="transaction.Status == 'Pending'">
                              <md-button ng-click="rejectAccount($event,transaction)">
                                 <p>Reject</p>
                                 <md-icon md-svg-icon="img/ic_close_24px.svg" style="color:red"></md-icon>
                              </md-button>
                           </md-menu-item>
                           <md-divider ng-if="transaction.Status == 'Pending'"></md-divider>
                           <md-menu-item>
                              <md-button ng-click="printDetails($index)">
                                 <p>Print Request</p>
                                 <md-icon md-svg-icon="img/ic_print_24px.svg"></md-icon>
                              </md-button>
                           </md-menu-item>
                        </md-menu-content>
                     </md-menu>
                  </div>
                  <!--END OF CARD CONTROLS SECTION-->
               </div>
            </div>
            <!--END OF COLLAPSE CARD HEADING-->
            <!--START OF CARD BODY-->
            <div class="collapse-card__body">
               <form name="editForm">
                  <div layout="row" layout-align="end start" style="background:rgb(228, 240, 236)">
                     <div style="margin-top:8px">Editing</div>
                     <md-switch ng-model="formEditing" aria-label="Switch 1" style="margin:6px" ng-change="onChange(formEditing)">
                     </md-switch>
                     <md-button style="height:0px;line-height:0px; " class="md-icon-button" aria-label="More" ng-disabled="checkAbility" ng-click="deleteRecord($event, creditNote.cnNo)">
                        <md-icon md-svg-icon="img/ic_delete_24px.svg"></md-icon>
                     </md-button>
                     <md-button style="height:0px;line-height:0px; " class="md-icon-button" aria-label="More" ng-disabled="checkAbility" ng-click="edit(promotion)">
                        <md-icon md-svg-icon="img/ic_save_24px.svg"></md-icon>
                     </md-button>
                  </div>
                  <md-content flex>
                     <div layout layout-sm="column" layout-margin>
                        <div flex="5">
                           <img src="img/material alperbert/avatar_tile_p_28.png" style="margin-top:22px;border-radius:20px"/>
                        </div>
                        <div flex="20" style="margin-top:35px;">
                           <label style="font-weight:700">Promotion Information</label>
                        </div>
                        <md-input-container flex>
                           <label>Promotion Code</label>
                           <input type="text" ng-model="promotion.code" ng-disabled="true"/> 
                        </md-input-container>
                        <md-select placeholder="Operational Status" ng-model="promotion.status" flex ng-disabled="checkAbility">
                           <md-optgroup label="Status">
                           <md-option value="1">Active</md-option>
                           <md-option value="2">Deactive</md-option>
                        </md-select>
                     </div>
                     <div layout layout-sm="column" layout-margin >
                        <!--KEEP BLANK SPACE - ask why-->
                        <div flex="5" class="blankspace">  
                        </div>
                        <div flex="20" class="blankspace">
                        </div>
                        <!--KEEP BLANK SPACE - ask why-->
                        <md-input-container flex>
                           <label>Promotion Description</label>
                           <textarea maxlength="200" type="text" ng-model="promotion.description" ng-disabled="checkAbility">
                           </textarea>
                        </md-input-container>
                        <!--md-chips ng-model="ctrl.roFruitNames" readonly="ctrl.readonly" flex>
                           <md-chip-template>
                           <strong>{{$chip}}</strong>
                           <em>(fruit)</em>
                           </md-chip-template>
                           </md-chips-->
                     </div>
                     <div layout layout-sm="column" layout-margin>
                        <div flex="5" class="blankspace">  
                        </div>
                        <div flex="20" class="blankspace">
                        </div>
                        <md-input-container flex>
                           <label>Number of purchases </label>
                           <input type="text" ng-model="promotion.purchases" ng-disabled="checkAbility"/> 
                        </md-input-container>
                        <md-date-picker model="promotion.date" label="Start Date" dialog-md-theme="datePickerTheme" flex ng-disabled="checkAbility"/>
                        <!--md-chips ng-model="ctrl.roFruitNames" readonly="ctrl.readonly" flex>
                           <md-chip-template>
                           <strong>{{$chip}}</strong>
                           <em>(fruit)</em>
                           </md-chip-template>
                           </md-chips-->
                     </div>
                     <div layout layout-sm="column" layout-margin >
                        <div flex="5" class="blankspace">  
                        </div>
                        <div flex="20" class="blankspace">
                        </div>
                        <md-select placeholder="Promotion Type" ng-model="promotion.type" flex
                           ng-disabled="true" ng-change="onviewselectchange(promotion.type)">
                           <md-optgroup label="type">
                           <md-option value="1">Product</md-option>
                           <md-option value="2">Package</md-option>
                        </md-select>
                        <md-date-picker model="promotion.duedate" label="Due Date" dialog-md-theme="datePickerTheme" flex ng-disabled="checkAbility"/>
                     </div>
                     <md-divider></md-divider>
                     <div layout layout-sm="column" layout-margin>
                        <div flex="5">
                           <img src="img/material alperbert/avatar_tile_p_28.png" style="margin-top:22px;border-radius:20px"/>
                        </div>
                        <div flex="20" style="margin-top:35px;">
                           <label style="font-weight:700">Product Details</label>
                        </div>
                     </div>
                     <div layout layout-sm="column" layout-margin >
                        <div class="table-responsive-vertical"  style="font-size:0.8em; overflow:auto;" >
                           <!-- <div ng-init="" ng-hide="true">
                              </div> -->
                           <!-- Table starts here -->
                           <table id="table" class="table table-hover table-mc-light-blue" >
                              <tbody>


                                <tr>
                              <td style=" padding-right: 10px; ">
                                 <div layout layout-sm="column" layout-margin>
                                    <ul class="thumbnails" >
                                       <li class="span3" style='margin-left:-12px; width: 400px; margin-top: -12px; '>
                                          <div class="thumbnail mCustomScrollbar" data-drop="true"  ng-model='productitems' data-jqyoui-options jqyoui-droppable="{multiple:true,onDrop:'droptest2'}" style="max-width: 400px; min-height: 313px;">
                                             <div class="card_container">
                                                <div class="dragcard" ng-repeat="item in productitems | unique: 'ProductCode'" ng-show="item.ProductCode" data-drag="false" data-jqyoui-options="{revert: 'invalid'}" ng-model="item"  jqyoui-draggable="{index: {{$index}}, animate:true">
                                                   <div class="dropdown__heading" layout="row" layout-align="start start" >
                                                      <div class="collapse-card_header_content_info" style="width:80%;">
                                                         <img src="img/man-icon.png" style="margin-top:5px;border-radius:20px height:35px; width:35px; "/>
                                                         <h4 class="collapse-card__title" style="margin-top:-49px; margin-left:40px">
                                                            {{item.ProductCode}}
                                                         </h4>
                                                         <div style="margin-left:40px">Product name: {{item.ProductCode}}</div>
                                                      </div>
                                                      <div style="width:10%; height:100%;" layout="column" layout-align="center start">
                                                         <!--       <md-button href id="delete" value ="delete" name="delete" ng-click="removeItem(item)">delete</md-button> -->
                                                         <img ng-src="img/system_software_update.icon"  ng-click="productdetails($event,item)" style="max-width: 20px; max-height: 20px;"  ng-hide="checkAbility"/>
                                                      </div>
                                                      <div style="width:10%; height:100%;" layout="column" layout-align="center start">
                                                         <!--       <md-button href id="delete" value ="delete" name="delete" ng-click="removeItem(item)">delete</md-button> -->
                                                         <img ng-src="img/delete.png"  ng-click="removeItemincards($index,item,promotion)" style="max-width: 20px; max-height: 20px;"  ng-hide="checkAbility"/>
                                                      </div>
                                                   </div>
                                                </div>

                                             </div>
                                          </div>
                                       </li>
                                    </ul>
                                    <div layout-sm="column" style="margin-left: 27px; margin-bottom: 20px;">
                                       <md-tabs md-dynamic-height md-border-bottom style="width:450px; height: 300px; border: 2px solid #DDD;">
                                       
                                          <md-tab label="Product" ng-disabled="viewproductdisabled">
                                          
                                             <div class="search">
                                                <input class="searchTerm" placeholder="Enter your search term ..." ng-model="searchinput" />
                                                <input class="searchButton" type="button" />
                                             </div>
                                             <!-- orderBy : 'ProductCode' -->
                                             <div data-mcs-theme="dark" class="card_container mCustomScrollbar"  style="margin-top:10px; height: 200px; ">
                                                <div class="dragcard" draggable="true" ng-repeat="item in arraychecks | filter: searchinput" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="item" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" ng-hide="!item.ProductClass" >
                                                   <div class="dropdown__heading" layout="row" layout-align="start start">
                                                      <div class="collapse-card_header_content_info" style="width:90%;">
                                                         <img src="img/man-icon.png" style="margin-top:5px;border-radius:20px height:35px; width:35px; "/>
                                                         <h4 class="collapse-card__title" style="margin-top:-49px; margin-left:40px">
                                                            {{item.ProductCode}}
                                                         </h4>
                                                         <div style="margin-left:40px">Product name: {{item.ProductCode}}</div>
                                                      </div>
                                                      <div class="collapse-card_header_content_controls" style="width:10%; height:100%;" layout="column" layout-align="center start">
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </md-tab>
                                          <md-tab label="Package" ng-disabled="viewpackagedisabled">
                                             <!--FORM START-->
                                             <div class="search">
                                                <input class="searchTerm" placeholder="Enter your search term ..." ng-model="searchinput2" />
                                                <input class="searchButton" type="button" />
                                             </div>
                                             <!-- orderBy : 'ProductCode' -->
                                             <div data-mcs-theme="dark" class="card_container mCustomScrollbar" style="margin-top:10px; height: 200px;">
                                                <div class="dragcard" draggable="true" ng-repeat="item in packagearraycheck  | filter: searchinput2" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="item" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" ng-hide="!item.ProductClass" >
                                                   <div class="dropdown__heading" layout="row" layout-align="start start">
                                                      <div class="collapse-card_header_content_info" style="width:90%;">
                                                         <img src="img/man-icon.png" style="margin-top:5px;border-radius:20px height:35px; width:35px; "/>
                                                         <h4 class="collapse-card__title" style="margin-top:-49px; margin-left:40px">
                                                            {{item.ProductCode}}
                                                         </h4>
                                                         <div style="margin-left:40px">Product name: {{item.ProductCode}}</div>
                                                      </div>
                                                      <div class="collapse-card_header_content_controls" style="width:10%; height:100%;" layout="column" layout-align="center start">
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <!--FORM END-->
                                          </md-tab>
                                       </md-tabs>
                                    </div>
                              </td>
                              </td>
                           </tr>
                               
                                 <tr animate ng:repeat="promotion in productitems | unique: 'ProductCode'" ng-hide="true">
                                 <td data-title="Product Code" >
                                 <div layout layout-sm="column" layout-margin>
                                 <md-input-container  flex>                   
                                 <input ng-model="promotion.ProductCode" placeholder="Product Code">
                                 </md-input-container>
                                 <md-input-container  flex>                   
                                 <input ng-model="promotion.ProductDesc" placeholder="Product Description">
                                 </md-input-container>
                                 <md-input-container  flex>                   
                                 <input ng-model="promotion.ProductClass" placeholder="Product Category">
                                 </md-input-container>
                                 <md-input-container  flex>                   
                                 <input ng-model="promotion.RetailPrice" placeholder="Rate">
                                 </md-input-container>
                                 <md-select placeholder="Currency" ng-model="promotion.PriceUnit" flex>
                                 <md-optgroup label="Currency">
                                 <md-option value="SLR">SLR</md-option>
                                 <md-option value="USD">USD</md-option>
                                 <md-option value="LKR">LKR</md-option>
                                 <md-option value="MVR">MVR</md-option>
                                 </md-select>
                                 <md-input-container flex>                   
                                 <input ng-model="promotion.Qty" placeholder="Qty for Rate" >
                                 </md-input-container>
                                 <md-select placeholder="UOM" ng-model="promotion.QtyUnit" flex>
                                 <md-optgroup label="UOM">
                                 <md-option value="UNIT">UNIT</md-option>
                                 <md-option value="DAY">DAY</md-option>
                                 </md-select>
                                 </div>
                                 </td>
                                 </tr>
                              </tbody>
                           </table>
                           <!--         <div layout layout-sm="column" layout-margin>
                              <div flex="5">
                                 <md-button ng-click="addItem()">
                                    Add New
                                 </md-button>
                              </div>
                              </div> -->
                           </div>
                        </div>
                  </md-content>
               </form>
               </div>
               <!--END OF CARD BODY-->
            </div>
            <!--END OF COLLAPSE CARDS-->
         </div>
         <!--START OF SECOND CARD CONTAINER-->
      </div>
      <!--END OF ALL CONTENT-->
      <script src="js/jquery-2.1.3.min.js"></script>
      <script src="js/jquery-ui.js"></script>
      <script src="bower_components/angular/angular.min.js"></script>
      <script src="bower_components/angular-animate/angular-animate.js"></script>
      <script src="bower_components/angular-aria/angular-aria.js"></script>
      <script src="bower_components/angular-material/angular-material.js"></script>
      <script src="bower_components/angular-route/angular-route.js"></script>
      <script src="bower_components/angular-dragdrop/angular-dragdrop.min.js"></script>
      <script src="js/uimicrokernel.js"></script>
      <script src="js/paymentmodule.js"></script>
      <script src="js/directivelibrary.js"></script>
      <script src="js/controllers/promotion.js"></script>
   </body>
</html>
